:host {
  display: flex;
  flex: 1;
  align-items: stretch;
}

.host>.box {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.btn {
  position: absolute;
  right: 301px;
  top: 24px;
}

.box.gap-16 {
  margin-top: 52px;
}