<!-- <div class="row flex-center"> -->

<label class="label-lg"> نوع الخدمة </label>
<select
  class="label-lg"
  [disabled]="disabled"
  (change)="onSelectChange($any($event.target).value)"
  (blur)="markAsTouched()"
>
  <option value="">اختر الخدمة</option>

  <option *ngFor="let s of services()" [value]="s.serviceId">
    {{ s.name }}
    &nbsp;←&nbsp;

    {{
      s.price === null
        ? "بدون سعر"
        : s.price === 0
        ? "مجاني"
        : (s.price | number : "1.0-0") + " ريال"
    }}
  </option>
</select>

<!-- </div> -->
