<div class="row gap-16">
  <div class="box max-width-324 culumn gap-24  ">
    <!-- Header -->
    <div class="row space-between">
      <h2 class="title-md">الأطباء</h2>
      <div class="primary-color-background WH-40 flex-center border-radius-20">
        <h2 class="title-md white-color margin-auto">
          {{ doctors().length }}
        </h2>
      </div>
    </div>

    <!-- Search Box -->
    <div class="search-box">
      <img src="assets/icons/search-icon.svg" class="search-icon" alt="search" />
      <input type="text" placeholder="بحث: اسم الطبيب..." (input)="onSearch($event)" />
    </div>

    <!-- Filters -->
    <div class="filters-container">
      <button class="filter-btn" [class.active]="selectedDepartment() === null" (click)="onFilterChange(null)">
        الكل
      </button>
      <button class="filter-btn" [class.active]="selectedDepartment() === Department.Therapy"
        (click)="onFilterChange(Department.Therapy)">
        العلاج الطبيعي
      </button>
      <button class="filter-btn" [class.active]="selectedDepartment() === Department.Industrial"
        (click)="onFilterChange(Department.Industrial)">
        الأطراف الصناعية
      </button>
    </div>
    <div class="main-content-wrapper">
      <app-doctor-list class="scrollable-area column gap-16" [doctors]="doctors()" [loading]="loading()"
        (doctorSelectedId)="onDoctorSelected($event)"></app-doctor-list>
    </div>

    <div class="flex-center">
      <button class="btn primary" (click)="goToAddDoctor()">
        إضافة طبيب جديد
      </button>
    </div>
  </div>

  <div class="box   gap-16">
    <router-outlet></router-outlet>
  </div>
</div>