<main class="padding-80 column gap-32">
  <div class="row space-between">
    <button class="btn primary label-lg big-btn" (click)="onAddPatient()">
      إضافة مريض
    </button>
    <button class="btn primary label-lg big-btn">إستشارة طبيبة</button>
  </div>
  <div class="box">
    <h1 class="title-lg">البحث عن مريض</h1>

    <div class="search-box">
      <img
        src="assets/icons/search-icon.svg"
        class="search-icon"
        alt="search"
      />
      <input
        #searchBox
        type="text"
        placeholder="بحث: اسم المريض أو الرقم"
        (input)="onSearch(searchBox.value)"
      />
    </div>
    @if (patients()) {
    <div class="max-hight-460">
      <app-patients-list
        [patients]="patients()"
        (deletePatient)="onDeletePatient($event)"
      >
        ></app-patients-list
      >
    </div>
    }

  @else {

  }
  </div>
  <router-outlet></router-outlet>
</main>
