@if (!loading() && (!tickets() || tickets().length === 0)) {
<div class="empty-state">
  <img src="assets/images/amico.svg" alt="no patients" class="empty-icon" />
  <p class="body-md primary-color-50">لا يوجد مرضى في قائمة الانتظار حالياً</p>
</div>
} @for (ticket of tickets(); track ticket.ticketId) {

<div
  class="card cursor-pointer primary"
  [class.yellow-card]="ticket.ticketId % 2 == 0"
  [class.green-card]="ticket.ticketId % 2 == 1"
  [class.red-card]="selectedTicketId() === ticket.ticketId"
  [class.selected]="selectedTicketId() === ticket.ticketId"
  (click)="onSelect(ticket)"
>
  <!-- Full Name -->
  <p class="body-md">
    {{ ticket.patient?.personDto?.fullname }}
  </p>

  <!-- Auto Registration Number -->
  <p class="body-sm primary-color-50">
    رقم المريض : {{ ticket.patient?.personDto?.nationalNo }}
  </p>

  <!-- Service Name (NEW DATA) -->
  <p class="body-sm primary-color-50">الخدمة : {{ ticket.service?.name }}</p>

  <div class="row gap-16">
    <!-- Gender -->
    <p class="body-sm primary-color-50">
      {{ ticket.patient?.personDto?.gender ? "ذكر" : "أنثى" }}
    </p>

    <!-- Birthdate → formatted -->
    <!-- <p class="body-sm primary-color-50">
      {{ formatBirthdate(ticket.patient?.personDto?.birthdate) }}
    </p> -->
    <p class="body-sm primary-color-50">
      {{ getAgeFromBirthdate(ticket.patient?.personDto?.birthdate) }} سنة
    </p>
  </div>

  <!-- Ticket Status (NEW DATA) -->
  <p class="body-sm primary-color-50">
    الحالة : {{ getTicketStatusLabel(ticket.ticketStatus) }}
    <!-- الحالة : {{ ticket.ticketStatus }} -->
  </p>
</div>

}
