<div class="column gap-16">
  <div class="width-100">
    <p class="title-md">بيانات الدفع</p>
    <span class="home-line"></span>
  </div>
</div>

<div class="column gap-16">
  <div class="row flex-center">
    <label class="label-lg">نوع الحساب</label>
    <input class="label-lg" type="text" readonly [value]="summary().accountKind" disabled />

  </div>


  <div class="row flex-center">
    <label class="label-lg">المبلغ الكلي</label>
    <input class="label-lg" type="number" readonly [value]="summary().totalAmount" disabled/>
  </div>

    <div  class="row flex-center">
      <label class="label-lg">المبلغ المدفوع</label>
      <input class="label-lg" type="number" readonly [value]="summary().paidAmount ?? 0" disabled/>
    </div>

    <!-- Discount -->
    <div  class="row flex-center">
      <label class="label-lg">التخفيض (%)</label>

      <input class="label-lg" type="number"  [value]="summary().discount??0"  readonly disabled/>
    </div>

    <div  class="row flex-center">
      <label class="label-lg"> بعد التخفيض</label>
        <input class="label-lg" type="number"  [value]="summary().netAmount"  readonly disabled />
    </div>

    <!-- Voucher Number -->
    <div class="row flex-center">
      <label class="label-lg">تاريخ الدفع</label>

      <input class="label-lg" type="text" readonly [value]="summary().paymentDate | date:'medium'" />

      
    </div>


    
  <!-- </ng-container> -->
</div>