
@if (patient()) {

  <div class="padding-LR-24 column gap-16">
    <div class="row flex-center">
      <label class="label-lg">رقم المريض</label>
      <input
        class="label-lg"
        [value]="patient()?.autoRegistrationNumber"
        disabled
      />

      <label class="label-lg">رقم الهوية</label>
      <input class="label-lg" [value]="patient()?.nationalNo" disabled />
    </div>
    <div class="row flex-center">
      <label class="label-lg">الاسم</label>
      <input class="label-lg" [value]="patient()?.fullname" disabled />
    </div>

    <div class="row flex-center">
      <label class="label-lg">الجنس</label>
      <input
        class="label-lg"
        [value]="patient()?.gender ? 'ذكر' : 'أنثى'"
        disabled
      />

      <label class="label-lg">تاريخ الميلاد</label>
      <input
        class="label-lg"
        type="date"
        [value]="patient()?.birthdate | date : 'yyyy-MM-dd'"
        disabled
      />
    </div>

    <div class="row flex-center">
      <label class="label-lg">رقم الهاتف</label>
      <input class="label-lg" [value]="patient()?.phone" disabled />
    </div>
  </div>
}
