.toast-container {
  position: fixed;
  bottom: 0;
  right: 250px;
  width: 100%;
  /* RTL placement: top-right */
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 3;
}

.toast {
  /* min-width: 280px;
  max-width: 360px; */
  width: 100%;
  padding: 14px 18px;
  /* border-radius: 12px; */
  color: var(--primary-color);
  /* font-size: 15px;
  font-weight: 500;
  direction: rtl; */

  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);

  /* Animation sequence */
  animation:
    slide-in 0.35s ease,
    fade-out 0.5s ease forwards;

  /* delay fade-out so toast stays visible */
  animation-delay:
    0s,
    /* slide-in */
    2.5s;
  /* fade-out delay */
}

/* Slide-in animation */
@keyframes slide-in {
  from {
    opacity: 0;
    /* transform: translateX(100%); */
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    /* transform: translateX(0); */
    transform: translateY(0);
  }
}

/* Fade-out animation */
@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* Colors based on your theme */
.toast.success {
  background-color: var(--card-green);
  /* green success */
}

.toast.error {
  background-color: var(--card-red);
  /* your red buttons */
}

.toast.warning {
  background-color: var(--card-yellow);
  /* amber */
  color: #000;
}

.toast.info {
  background-color: var(--card-color);
  /* your dark navy */
}

.title-sm {
  margin: auto 0px;
}