.radio-container {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.radio-container input {
  display: none;
}

.radio-checkmark {
  width: 16px;
  height: 16px;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  position: relative;
}

.radio-container input:checked + .radio-checkmark::after {
  content: '';
  width: 8px;
  height: 8px;
  background-color: var(--primary-color);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
