.login-box {
  width: 720px;
  /* height: 556px; */
  display: flex;
  align-items: center;
  padding: 48px;
}

.login-box form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.logo {
  margin-bottom: 24px;
}

label {
  margin-top: 16px;
}

button {
  margin-top: 36px;
  align-self: center;
}

/* Shake Animation */
.shake {
  animation: shake 0.4s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-6px);
  }

  50% {
    transform: translateX(6px);
  }

  75% {
    transform: translateX(-6px);
  }

  100% {
    transform: translateX(0);
  }
}


/* Fade In Error Text */
.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-3px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}