 <div class="box login-box">
    <div class="logo">
      <img src="assets\images\logo-blue.svg" alt="مركز الأطراف و العلاج الطبيعي">
    </div>
    <form >
      <label class="label-lg" for="username">اسم المستخدم</label>
      <input class="label-lg" type="text" id="username" name="username" placeholder="ادخل اسم المستخدم">

      <label class="label-lg" for="password">كلمـة الـــــمرور</label>
      <input class="label-lg" type="password" id="password" name="password" placeholder="ادخل كلمة المرور">

      <button class="btn primary label-lg" type="button" (click)="OnLogin()">تسجيل الدخول</button>
    </form>
  </div>
