<div class="box login-box" [class.shake]="shake">
  <div class="logo">
    <img src="assets/images/logo-blue.svg" alt="مركز الأطراف و العلاج الطبيعي">
  </div>

  <form [formGroup]="loginForm" (keypress)="onKeyPress($event)">

    <!-- USERNAME -->
    <label class="label-lg" for="username">اسم المستخدم</label>
    <input #usernameInput class="label-lg" type="text" id="username" placeholder="ادخل اسم المستخدم"
      formControlName="userName" (input)="clearServerError()"
      [class.invalid]="loginForm.controls['userName'].touched && loginForm.controls['userName'].invalid" />

    <p class="error-message fade-in label-lg"
      *ngIf="loginForm.controls['userName'].touched && loginForm.controls['userName'].invalid">
      الرجاء إدخال اسم المستخدم
    </p>

    <!-- PASSWORD -->
    <label class="label-lg" for="password">كلمـة الـــــمرور</label>
    <input #passwordInput class="label-lg" type="password" id="password" placeholder="ادخل كلمة المرور"
      formControlName="password" (input)="clearServerError()"
      [class.invalid]="loginForm.controls['password'].touched && loginForm.controls['password'].invalid" />

    <p class="error-message fade-in label-lg"
      *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].invalid">
      الرجاء إدخال كلمة المرور
    </p>



    <!-- LOGIN BUTTON -->
    <button class="btn primary big-btn label-lg" type="button" (click)="OnLogin()"
      [disabled]="loginForm.invalid || isLoading">
      <span *ngIf="!isLoading">تسجيل الدخول</span>
      <span *ngIf="isLoading">جاري تسجيل الدخول...</span>
    </button>
    <!-- SERVER ERROR -->
    <p class="error-message fade-in label-lg center" *ngIf="serverError">
      {{ serverError }}
    </p>

  </form>
</div>