.login-box {
  background-color: var(--white-color);
  width: 720px;
  height: 556px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
  padding: 48px 40px 0 40px;
}

.login-box form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.logo {
  margin-bottom: 24px;
}

input {
  margin-bottom: 16px;
}

button {
  align-self: center;
  margin-top: 36px;
  padding: 16px 48px;
  align-self: center;
}


input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border: 1px solid var(--card-red);
}
/* Shake Animation */
.shake {
  animation: shake 0.4s;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-6px); }
  50% { transform: translateX(6px); }
  75% { transform: translateX(-6px); }
  100% { transform: translateX(0); }
}

/* Invalid Input Border */
input.invalid {
  border: 1px solid #e63946 !important;
  background-color: #fff6f6;
}

/* Fade In Error Text */
.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-3px); }
  to { opacity: 1; transform: translateY(0); }
}

.error-text {
  color: var(--red-color);
  font-size: 0.8rem;
  margin-top: 2px;
  margin-right: 10px;
}
