@if (isLoading()) {
  <div class="flex-center">
    <span class="loader"></span>
  </div>
  <p class="flex-center">جاري تحميل بيانات المريض...</p>
} @else {
  <div class="row gap-16 sticky">
    <h1 class="title-lg">جدولة المواعيد</h1>
  </div>

  <app-patient-summary-header [patient]="summary" />

  <!-- The new information you requested starts here -->
  <!-- <div class="padding-LR-24 column gap-16">
    <div class="width-100">
      <p class="title-md">معلومات اليوم</p>
      <span class="home-line"></span>
    </div>
    <div class="row" style="gap: 24px;">
      <span><b>التاريخ:</b> 28 ديسمبر 2025</span>
      <span><b>اليوم:</b> الأحد</span>
      <span><b>تم جدولتها   :</b> 7</span>
      <span><b>المواعيد المسموحة:</b> 10</span>
    </div>
  </div> -->

  <div class="info-card-container">
  <div class="info-card">
    <div class="card-header">
      <p class="title-md">معلومات اليوم</p>
    </div>
    <div class="card-body">
      <div class="info-item">
        <i class="icon-calendar"></i>
        <span><b>التاريخ:</b> 28 ديسمبر 2025</span>
      </div>
      <div class="info-item">
        <i class="icon-day"></i>
        <span><b>اليوم:</b> الأحد</span>
      </div>
      <div class="info-item">
        <i class="icon-scheduled"></i>
        <span><b>تم جدولتها:</b> 7</span>
      </div>
      <div class="info-item">
        <i class="icon-allowed"></i>
        <span><b>المواعيد المسموحة:</b> 10</span>
      </div>
    </div>
  </div>
</div>

  <!-- The new information ends here -->

  <form class="padding-LR-24 column gap-16">
    <div class="width-100">
      <p class="title-md">بيانات الموعد</p>
      <span class="home-line"></span>
    </div>
    <div class="row flex-center">
      <label class="label-lg"> تاريخ الموعد </label>
      <input class="label-lg" type="date" placeholder="" />
    </div>
    <div class="flex-center">
      <button class="btn primary label-md" type="button" (click)="Schedule()">
        حفظ
      </button>
    </div>
  </form>
}
