@if (isLoading()) {
<div class="flex-center">
  <span class="loader"></span>
</div>
<p class="flex-center">جاري تحميل بيانات المريض...</p>

} @else {

<div class="row gap-16 sticky">
  <h1 class="title-lg">جدولة المواعيد</h1>
</div>
<app-header-patient-info [patient]="patient()!"></app-header-patient-info>

<form class="padding-LR-24 column gap-16">
  <div class="width-100">
    <p class="title-md">بيانات الموعد</p>

    <span class="home-line"></span>
  </div>

  <div class="row flex-center">
    <label class="label-lg"> تاريخ الموعد </label>
    <input class="label-lg" type="date" placeholder="" />
  </div>

  <div class="flex-center">
    <button class="btn primary label-md" type="button" (click)="Schedule()">حفظ</button>
  </div>
</form>

}
