<h2 class="title-md">
  الجهات المنفقة
</h2>

<div class="search-box">
  <img src="../../assets/icons/search-icon.svg" class="search-icon" alt="search">
  <input type="text" placeholder="بحث: اسم الجهة أو الرقم">
</div>

<div class="max-hight-712 column gap-16">

  <div class="card primary-card">
    <p class="body-md">
      صندوق المعاقين
    </p>
    <p class="body-sm primary-color-50">
      الرقم: 1
    </p>
  </div>

  <div class="card primary-card">
    <p class="body-md">
      صندوق الجرحى
    </p>
    <p class="body-sm primary-color-50">
      الرقم: 2
    </p>
  </div>

</div>
<!-- <div class="flex-center">
  <button class="btn primary">إضافة جهمة منفقة جديدة</button>
</div> -->