<h2 class="title-md">
  الأطباء
</h2>

<div class="search-box">
  <img src="../../assets/icons/search-icon.svg" class="search-icon" alt="search">
  <input type="text" placeholder="بحث: اسم الطبيب أو الرقم">
</div>


<div class="filters-container">
  <button class="filter-btn  active">الكل</button>
  <!-- العلاج الطبيعي -->
  <button class="filter-btn"> علاج طبيعي </button>
  <button class="filter-btn"> أعصاب </button>
  <button class="filter-btn"> عظام </button>
</div>

<div class="max-hight-712 column gap-16">
  <div class="card primary-card row space-between">
    <p class="body-md flex-center">
      د/ مصلح شرهان علي الرياشي
    </p>
    <div class="primary-color-background WH-40 flex-center border-radius-20">
      <h2 class="title-md white-color margin-auto">
        13
      </h2>
    </div>
  </div>
  <div class="card primary-card row space-between">
    <p class="body-md flex-center">
      د/ مصلح شرهان علي الرياشي
    </p>
    <div class="primary-color-background WH-40 flex-center border-radius-20">
      <h2 class="title-md white-color margin-auto">
        <!-- عدد الحالتي الذي عنده اليوم -->
        13
      </h2>
    </div>
  </div>

  <div class="card primary-card row space-between">
    <p class="body-md flex-center">
      د/ مصلح شرهان علي الرياشي
    </p>
    <div class="primary-color-background WH-40 flex-center border-radius-20">
      <h2 class="title-md white-color margin-auto">
        13
      </h2>
    </div>
  </div>

  <div class="card primary-card row space-between">
    <p class="body-md flex-center">
      د/ مصلح شرهان علي الرياشي
    </p>
    <div class="primary-color-background WH-40 flex-center border-radius-20">
      <h2 class="title-md white-color margin-auto">
        13
      </h2>
    </div>
  </div>
</div>