<div class="row space-between">
  <h2 class="title-md flex-center">
    كروت الإصلاح الفني
  </h2>
  <div class="primary-color-background WH-40 flex-center border-radius-20">
    <h2 class="title-md white-color margin-auto">
      3
    </h2>
  </div>
</div>


<div class="search-box">
  <img src="../../assets/icons/search-icon.svg" class="search-icon" alt="search">
  <input type="text" placeholder="بحث: اسم المريض أو الرقم">
</div>


<div class="filters-container">

  <!--
  
  ما رأيك نظيف الوان للـبطائق , بحيث يكون 
    الأخضر -> جاهز
    الأصفر -> جديد
    الأحمر -> مقيد

    -->

  <button class="filter-btn  active">الكل</button>
  <button class="filter-btn"> جديد </button>
  <button class="filter-btn"> جاهز </button>
  <button class="filter-btn"> مقيد </button>
</div>

<div class="max-hight-712 column gap-16">
  <div class="card primary-card">
    <p class="body-md">
      عبدالحميد مجاهد سعيد الشرجبي
    </p>
    <p class="body-sm primary-color-50">
      الرقم الكرت : 4865132
    </p>
    <p class="body-sm primary-color-50">
      الرقم المريض : 741789852
    </p>
    <div class="row gap-16">
      <p class="body-sm primary-color-50">
        ذكر
      </p>
      <p class="body-sm primary-color-50">
        28 سنة
      </p>
    </div>
  </div>
  <div class="card primary-card">
    <p class="body-md">
      عبدالحميد مجاهد سعيد الشرجبي
    </p>
    <p class="body-sm primary-color-50">
      الرقم الكرت : 4865132
    </p>
    <p class="body-sm primary-color-50">
      الرقم المريض : 741789852
    </p>
    <div class="row gap-16">
      <p class="body-sm primary-color-50">
        ذكر
      </p>
      <p class="body-sm primary-color-50">
        28 سنة
      </p>
    </div>
  </div>
  <div class="card primary-card">
    <p class="body-md">
      عبدالحميد مجاهد سعيد الشرجبي
    </p>
    <p class="body-sm primary-color-50">
      الرقم الكرت : 4865132
    </p>
    <p class="body-sm primary-color-50">
      الرقم المريض : 741789852
    </p>
    <div class="row gap-16">
      <p class="body-sm primary-color-50">
        ذكر
      </p>
      <p class="body-sm primary-color-50">
        28 سنة
      </p>
    </div>
  </div>



</div>