<h2 class="title-md">
  الأقسام
</h2>



<div class="search-box">
  <img src="../../assets/icons/search-icon.svg" class="search-icon" alt="search">
  <input type="text" placeholder="بحث: اسم القسم أو الرقم">
</div>

<div class="max-hight-712 column gap-16">

  <div class="card primary-card">
    <p class="body-md">
      علاج طبيعي
    </p>
    <p class="body-sm primary-color-50">
      رقم القسم : 1
    </p>
    <p class="body-sm primary-color-50">
      عدد الغرف : 5
    </p>
  </div>

  <div class="card primary-card">
    <p class="body-md">
      كهرباء
    </p>
    <p class="body-sm primary-color-50">
      رقم القسم : 2
    </p>
    <p class="body-sm primary-color-50">
      عدد الغرف : 0
    </p>
  </div>

  <div class="card primary-card">
    <p class="body-md">
      موجات كهرومغناطيسية
    </p>
    <p class="body-sm primary-color-50">
      رقم القسم : 2
    </p>
    <p class="body-sm primary-color-50">
      عدد الغرف : 6
    </p>
  </div>

</div>
<div class="flex-center">
  <button class="btn primary">إضافة قسم</button>
</div>