<span class="backdrop"></span>
<div class="box dialog">

  <div class="space-between">
    <h2 class="title-lg">
    </h2>
    <img src="../../assets/icons/close-icon.svg" alt="إغلاق" class="close-icon" />
  </div>

  <div class="width-100">
    <p class="title-md">

    </p>

    <span class="home-line"></span>
  </div>

  <div class="row flex-center">
    <label class="label-lg">
    </label>
    <input class="label-lg" type="text" placeholder="">
  </div>

  <div class="flex-center">
    <button class="btn primary">حفظ</button>
  </div>
</div>