<h2 class="title-md">
  الأطباء
</h2>

<div class="search-box">
  <img src="../../assets/icons/search-icon.svg" class="search-icon" alt="search">
  <input type="text" placeholder="بحث: اسم المستخدم أو الرقم">
</div>

<div class="filters-container">
  <button class="filter-btn  active">الكل</button>
  <button class="filter-btn"> العلاج الطبيعي </button>
  <button class="filter-btn"> الأطراف الصناعية </button>
</div>

<div class="max-hight-712 column gap-16">

  <div class="card primary-card">
    <p class="body-md">
      منذر الحكيمي
    </p>
    <div class="row space-between">
      <p class="body-sm primary-color-50">
        رقم الطبيب: 1
      </p>

      <p class="body-sm primary-color-50">
        علاج طبيعي
      </p>

    </div>
  </div>

  <div class="card primary-card">
    <p class="body-md">
      خالد الجباري
    </p>
    <div class="row space-between">
      <p class="body-sm primary-color-50">
        رقم الطبيب: 2
      </p>

      <p class="body-sm primary-color-50">
        أطراف صناعية
      </p>

    </div>
  </div>

</div>
<div class="flex-center">
  <button class="btn primary">إضافة طبيب جديد</button>
</div>