<h2 class="title-md">
  كروت الخروج
</h2>



<div class="search-box">
  <img src="../../assets/icons/search-icon.svg" class="search-icon" alt="search">
  <input type="text" placeholder="بحث: اسم المريض أو الرقم">
</div>


<!-- <div class="filters-container">
  <button class="filter-btn  active">الكل</button>
  <button class="filter-btn">الأطراف الصناعية</button>
  <button class="filter-btn">العلاج الطبيعي </button>
</div> -->

<div class="max-hight-712 column gap-16">
  <div class="card primary-card">
    <p class="body-md">
      عبدالحميد مجاهد سعيد الشرجبي
    </p>
    <p class="body-sm primary-color-50">
      الرقم الكرت : 741789852
    </p>
    <p class="body-sm primary-color-50">
      الرقم المريض : 741789852
    </p>

    <div class="row gap-16">
      <p class="body-sm primary-color-50">
        ذكر
      </p>
      <p class="body-sm primary-color-50">
        28 سنة
      </p>
    </div>
  </div>