<h2 class="title-md">
  القطع الصناعية
</h2>



<div class="search-box">
  <img src="../../assets/icons/search-icon.svg" class="search-icon" alt="search">
  <input type="text" placeholder="بحث: اسم القطعة أو الرقم">
</div>

<div class="max-hight-712 column gap-16">

  <div class="card primary-card">
    <p class="body-md">
      قدم
    </p>
    <p class="body-sm primary-color-50">
      رقم القطعة : 1
    </p>
  </div>

  <div class="card primary-card">
    <p class="body-md">
      يد
    </p>
    <p class="body-sm primary-color-50">
      رقم القطعة : 2
    </p>
  </div>

</div>
<div class="flex-center">
  <button class="btn primary">إضافة قطعة صناعية</button>
</div>