<div class="row space-between">
  <h2 class="title-md flex-center">
    فواتير المشتريات
  </h2>
  <button class="btn primary">
    إضافة فاتورة
  </button>
</div>

<div class="search-box">
  <img src="../../assets/icons/search-icon.svg" class="search-icon" alt="search">
  <input type="text" placeholder="بحث: رقم الفاتورة أو المورد">
</div>


<div class="filters-container">
  <button class="filter-btn  active">الكل</button>
  <button class="filter-btn">اليوم</button>
  <button class="filter-btn">الأسبوع</button>
  <button class="filter-btn">الشهر</button>
</div>

<div class="max-hight-712 column gap-16">
  <div class="card primary-card">
    <p class="body-md">
      مؤسسة الحبيشي
    </p>
    <p class="body-sm primary-color-50">
      رقم الفاتورة : 74152
    </p>
    <p class="body-sm primary-color-50">
      التاريخ : 2025/5/8
    </p>
    <p class="body-sm primary-color-50">
      الإجمالي : 15650
    </p>
  </div>

  <div class="card primary-card">
    <p class="body-md">
      مؤسسة الحبيشي
    </p>
    <p class="body-sm primary-color-50">
      رقم الفاتورة : 74152
    </p>
    <p class="body-sm primary-color-50">
      التاريخ : 2025/5/8
    </p>
    <p class="body-sm primary-color-50">
      الإجمالي : 15650
    </p>
  </div>

  <div class="card primary-card">
    <p class="body-md">
      مؤسسة الحبيشي
    </p>
    <p class="body-sm primary-color-50">
      رقم الفاتورة : 74152
    </p>
    <p class="body-sm primary-color-50">
      التاريخ : 2025/5/8
    </p>
    <p class="body-sm primary-color-50">
      الإجمالي : 15650
    </p>
  </div>

</div>

<!-- button moved to header -->