<div class="row space-between">
  <h2 class="title-md flex-center">
    الأصناف
  </h2>
  <button class="btn primary small-btn">
    إضافة صنف جديد
  </button>
</div>

<div class="search-box">
  <img src="../../assets/icons/search-icon.svg" class="search-icon" alt="search">
  <input type="text" placeholder="بحث: اسم الصنف أو الرقم">
</div>

<div class="max-hight-712 column gap-16">
  <div class="card primary-card">
    <div class="space-between">
      <div class="column">
        <p class="body-md">
          ركبة صناعية
        </p>
        <p class="body-md primary-color-50">
          رقم الصنف: 001
        </p>
      </div>
      <div class="primary-color-background WH-40 flex-center-margin-auto border-radius-100">
        <h2 class="title-md white-color margin-auto">
          200
        </h2>
      </div>
    </div>


  </div>
  <div class="card primary-card">
    <div class="row space-between">
      <div class="column">
        <p class="body-md">
          كيس جبس الوطني
        </p>
        <p class="body-md primary-color-50">
          رقم الصنف: 002
        </p>
      </div>
      <div class="primary-color-background WH-40 flex-center-margin-auto border-radius-100">
        <h2 class="title-md white-color margin-auto">
          75
        </h2>
      </div>
    </div>
  </div>

  <div class="card yellow-card">
    <div class="row space-between">
      <div class="column">
        <p class="body-md">
          كيس جبس رويال
        </p>
        <p class="body-md primary-color-50">
          رقم الصنف: 003
        </p>
      </div>
      <div class="primary-color-background WH-40 flex-center-margin-auto border-radius-100">
        <h2 class="title-md white-color margin-auto">
          2
        </h2>
      </div>
    </div>
  </div>
  <div class="card red-card">
    <div class="row space-between">
      <div class="column">
        <p class="body-md">
          ركبة صناعية
        </p>
        <p class="body-md primary-color-50">
          رقم الصنف: 004
        </p>
      </div>
      <div class="primary-color-background WH-40 flex-center border-radius-100">
        <h2 class="title-md white-color margin-auto">
          0
          <!-- مافيش ركاب :> -->
        </h2>
      </div>
    </div>
  </div>
</div>