<h2 class="title-md">
  بطائق المرضى
</h2>

<div class="search-box">
  <img src="../../assets/icons/search-icon.svg" class="search-icon" alt="search">
  <input type="text" placeholder="بحث: اسم المريض أو الرقم">
</div>


<div class="filters-container">
  <button class="filter-btn  active">الكل</button>
  <button class="filter-btn"> صندوق المعاقين </button>
  <button class="filter-btn"> صندوق الجرحى </button>
</div>

<div class="max-hight-712 column gap-16">
  <div class="card primary-card">
    <p class="body-md">
      عبدالحميد مجاهد سعيد الشرجبي
    </p>
    <p class="body-sm primary-color-50">
      الرقم البطاقة : 741789852
    </p>
    <p class="body-sm primary-color-50">
      تاريخ الإنتهاء : 2030/12/12
    </p>
    <div class="flex-center">
      <p class="body-sm">
        صندوق المعاقيين
      </p>
    </div>
  </div>

  <div class="card primary-card">
    <p class="body-md">
      عبدالحميد مجاهد سعيد الشرجبي
    </p>
    <p class="body-sm primary-color-50">
      الرقم البطاقة : 741789852
    </p>
    <p class="body-sm primary-color-50">
      تاريخ الإنتهاء : 2030/12/12
    </p>
    <div class="flex-center">
      <p class="body-sm">
        صندوق المعاقيين
      </p>
    </div>
  </div>

  <div class="card primary-card">
    <p class="body-md">
      عبدالحميد مجاهد سعيد الشرجبي
    </p>
    <p class="body-sm primary-color-50">
      الرقم البطاقة : 741789852
    </p>
    <p class="body-sm primary-color-50">
      تاريخ الإنتهاء : 2030/12/12
    </p>
    <div class="flex-center">
      <p class="body-sm">
        صندوق الجرحى
      </p>
    </div>
  </div>

  <div class="card primary-card">
    <p class="body-md">
      عبدالحميد مجاهد سعيد الشرجبي
    </p>
    <p class="body-sm primary-color-50">
      الرقم البطاقة : 741789852
    </p>
    <p class="body-sm primary-color-50">
      تاريخ الإنتهاء : 2030/12/12
    </p>
    <div class="flex-center">
      <p class="body-sm">
        صندوق الجرحى
      </p>
    </div>
  </div>

</div>

<div class="flex-center">
  <button class="btn primary">إضافة بطاقة </button>
</div>