<div class="width-100">
  <p class="title-md">
    بيانات المريض
  </p>

  <span class="home-line"></span>
</div>


<div class="row flex-center">
  <label class="label-lg">
    الاسم
  </label>
  <input class="label-lg" type="text" placeholder="">
</div>

<div class="row flex-center">
  <label class="label-lg">
    رقم المريض
  </label>
  <input class="label-lg" type="text" placeholder="">

  <label class="label-lg">
    الجنس
  </label>
  <input class="label-lg" type="text" placeholder="">

  <label class="label-lg">
    العمر
  </label>
  <input class="label-lg" type="text" placeholder="">

</div>