<h2 class="title-md">
  طلبات المواد الخام
</h2>



<div class="search-box">
  <img src="../../assets/icons/search-icon.svg" class="search-icon" alt="search">
  <input type="text" placeholder="بحث: اسم القسم أو رقم الطلب">
</div>


<div class="filters-container">
  <button class="filter-btn  active">الكل</button>
  <!-- العلاج الطبيعي -->
  <button class="filter-btn"> جبس </button>
  <button class="filter-btn"> حديد </button>
  <button class="filter-btn"> عظام </button>
</div>

<div class="max-hight-712 column gap-16">
  <div class="card primary-card">
    <p class="body-md">
      طلب مواد خام
    </p>
    <p class="body-sm primary-color-50">
      الرقم الطلب : 741789852
    </p>
    <p class="body-sm primary-color-50">
      تاريخ الطلب : 2026-05-12
    </p>
  </div>
  <div class="card primary-card">
    <p class="body-md">
      طلب مواد خام
    </p>
    <p class="body-sm primary-color-50">
      الرقم الطلب : 741789852
    </p>
    <p class="body-sm primary-color-50">
      تاريخ الطلب : 2026-05-12
    </p>
  </div>
  <div class="card primary-card">
    <p class="body-md">
      طلب مواد خام
    </p>
    <p class="body-sm primary-color-50">
      الرقم الطلب : 741789852
    </p>
    <p class="body-sm primary-color-50">
      تاريخ الطلب : 2026-05-12
    </p>
  </div>

</div>