<h2 class="title-md">
  قائمة الخدمات
</h2>

<div class="search-box">
  <img src="../../assets/icons/search-icon.svg" class="search-icon" alt="search">
  <input type="text" placeholder="بحث: اسم الخدمة أو الرقم">
</div>

<div class="max-hight-712 column gap-16">

  <div class="card primary-card">
    <p class="body-md">
      أجهزة تعويضية
    </p>
    <p class="body-sm primary-color-50">
      قسم الأطراف الصناعية
    </p>
  </div>

  <div class="card primary-card">
    <p class="body-md">
      أعصاب
    </p>
    <p class="body-sm primary-color-50">
      قسم العلاج الطبيعي
    </p>
  </div>


</div>
<div class="flex-center">
  <button class="btn primary">إضافة خدمة جديدة</button>
</div>