<div class="row space-between">
  <h2 class="title-md flex-center">
    الموردون
  </h2>
  <button class="btn primary ">
    إضافة مورد جديد
  </button>
</div>

<div class="search-box">
  <img src="../../assets/icons/search-icon.svg" class="search-icon" alt="search">
  <input type="text" placeholder="بحث: اسم المورد أو الرقم">
</div>

<div class="max-hight-712 column gap-16">
  <div class="card primary-card">
    <p class="body-md">
      مؤسسة الحبيشي
    </p>
  </div>

  <div class="card primary-card">
    <p class="body-md">
      محلات المنصور
    </p>
  </div>

  <div class="card primary-card">
    <p class="body-md">
      جابر عبدالجبار
    </p>
  </div>

  <div class="card primary-card">
    <p class="body-md">
      القدسي - CRPWON
    </p>
  </div>

</div>

<!-- button moved to header -->