<h2 class="title-md">
  البرامج العلاجية
</h2>



<div class="search-box">
  <img src="../../assets/icons/search-icon.svg" class="search-icon" alt="search">
  <input type="text" placeholder="بحث: اسم البرنامج أو الرقم">
</div>

<div class="max-hight-712 column gap-16">

  <div class="card primary-card">
    <p class="body-md">
      مساج
    </p>
    <p class="body-sm primary-color-50">
      رقم البرنامج : 1
    </p>
  </div>

  <div class="card primary-card">
    <p class="body-md">
      كهرباء
    </p>
    <p class="body-sm primary-color-50">
      رقم البرنامج : 2
    </p>
  </div>

</div>
<div class="flex-center">
  <button class="btn primary">إضافة برنامج علاجي</button>
</div>