<div class="row space-between">
  <h2 class="title-md flex-center">
    المخزن
  </h2>

  <button class="btn primary">
    إضافة مخزن جديد
  </button>

</div>

<div class="search-box">
  <img src="../../assets/icons/search-icon.svg" class="search-icon" alt="search">
  <input type="text" placeholder="بحث: اسم المخزن أو الرقم">
</div>

<div class="max-hight-712 column gap-16">
  <div class="card primary-card">
    <div class="space-between">
      <div class="column">
        <p class="body-md">
          المخزن الرئيسي
        </p>
        <p class="body-md primary-color-50">

          رقم المخزن: 001
        </p>
      </div>
      <div class="primary-color-background WH-40 flex-center-margin-auto border-radius-100">
        <h2 class="title-md white-color margin-auto">
          13
        </h2>
      </div>
    </div>


  </div>
  <div class="card primary-card">
    <div class="row space-between">
      <div class="column">
        <p class="body-md">
          مخزن الأطراف الصناعية
        </p>
        <p class="body-md primary-color-50">
          رقم المخزن: 002
        </p>
      </div>
      <div class="primary-color-background WH-40 flex-center-margin-auto border-radius-100">
        <h2 class="title-md white-color margin-auto">
          7
        </h2>
      </div>
    </div>
  </div>

  <div class="card yellow-card">
    <div class="row space-between">
      <div class="column">
        <p class="body-md">
          مخزن البرتقال
          <!-- ما دريتوش مو اسمو :> -->
        </p>
        <p class="body-md primary-color-50">
          رقم المخزن: 003
        </p>
      </div>
      <div class="primary-color-background WH-40 flex-center-margin-auto border-radius-100">
        <h2 class="title-md white-color margin-auto">
          0
        </h2>
      </div>

    </div>
  </div>
</div>