@if (isLoading()) {


  <div class=" flex-center">

    <span class="loader "></span>
  </div>
  <p class="flex-center">جاري تحميل بيانات المريض...</p>
}

@else {

<div class="row gap-16 sticky">
  <h1
    class="title-lg cursor-pointer"
    (click)="switchToAdd()"
    [class.primary-color-50]="viewMode() !== 'add'"
  >
    إضافة تشخيص
  </h1>

  <h1
    [class.primary-color-50]="viewMode() !== 'history'"
    class="title-lg cursor-pointer"
    (click)="switchToHistory()"
  >
    التشخيصات السابقة
  </h1>
</div>
<app-header-patient-info [patient]="patient()!"></app-header-patient-info>

  
@if(viewMode() === 'add') {
<form class="padding-LR-24 column gap-16" [formGroup]="form" (ngSubmit)="onSubmit()">

  <div class="width-100">
    <p class="title-md">بيانات التشخيص</p>
    <span class="home-line"></span>
  </div>

  <!-- جهة الإصابة -->
  <div class="row flex-center">
    <label class="label-lg"> جهة الاصابة </label>
    <select class="label-lg" formControlName="InjurySides">
      <option [ngValue]="[]"></option>
      <option [ngValue]="[1]">علوي ايمن</option>
      <option [ngValue]="[2]">علوي ايسر</option>
      <option [ngValue]="[3]">سفلي ايمن</option>
      <option [ngValue]="[4]">سفلي ايسر</option>
    </select>

    <label class="label-lg"> نوع الإصابة </label>
    <select class="label-lg" formControlName="InjuryTypes">
      <option [ngValue]="[]"></option>
      <option [ngValue]="[1]">مرفق</option>
      <option [ngValue]="[2]">ساعد</option>
    </select>
  </div>

  <!-- تاريخ الإصابة + السبب -->
  <div class="row flex-center">
    <label class="label-lg"> تاريخ الإصابة </label>
    <input class="label-lg" type="date" formControlName="InjuryDate" />

    <label class="label-lg"> السبب </label>
    <input class="label-lg" type="text" formControlName="InjuryReasons" />
  </div>

  <!-- القسم -->
  <div class="row flex-center">
    <label class="label-lg"> القسم </label>
    <select class="label-lg" formControlName="TherapyCardType">
      <option [ngValue]="null"></option>
      <option [ngValue]="1">العلاج الطبيعي</option>
      <option [ngValue]="2">الأطراف الصناعية</option>
    </select>
  </div>

  <!-- التشخيص -->
  <div class="roe flex-center width-100">
    <label class="label-lg"> التشخيص </label>
    <textarea rows="2" formControlName="DiagnosisText"></textarea>
  </div>

  <!-- برنامج المريض -->
  <div class="roe flex-center width-100">
    <label class="label-lg"> تاريخ البدء </label>
    <input class="label-lg" type="date" formControlName="ProgramStartDate" />

    <label class="label-lg"> تاريخ الانتهاء </label>
    <input class="label-lg" type="date" formControlName="ProgramEndDate" />
  </div>

  <!-- البرامج العلاجية -->
  <div class="width-100">
    <p class="title-md">البرامج العلاجية</p>
    <span class="home-line"></span>
  </div>

  <app-select-therapy-programs
    [programs]="programs"
    [medicalPrograms]="medicalPrograms">
  </app-select-therapy-programs>

  <div class="flex-center">
    <button class="btn primary label-md" type="submit" [disabled]="form.invalid">
      حفظ
    </button>
  </div>

</form>

} @if (viewMode() === 'history') {
<app-previous-therapy-card-diagnosis
    [items]="MOCK_THERAPY_CARD_HISTORY"
    (viewDetails)="onViewHistoryCard($event)"
  ></app-previous-therapy-card-diagnosis>
}

}