@if (isLoading() ) {
<div class="flex-center">
  <span class="loader"></span>
</div>
<p class="flex-center">جاري تحميل بيانات المريض...</p>

} 

@else {

<div class="row gap-16 sticky">
  <h1
    class="title-lg cursor-pointer"
    (click)="switchToAdd()"
    [class.primary-color-50]="viewMode() !== 'add'"
  >
    إضافة تشخيص
  </h1>

  <h1
    [class.primary-color-50]="viewMode() !== 'history'"
    class="title-lg cursor-pointer"
    (click)="switchToHistory()"
  >
    التشخيصات السابقة
  </h1>
</div>
<app-header-patient-info [patient]="patient()!"></app-header-patient-info>

@if(viewMode() === 'add') {
<app-add-therapy-diagnosis-form
  [ticketId]="26"
  [injuryReasons]="injuryReasons()"
  [injurySides]="injurySides()"
  [injuryTypes]="injuryTypes()"
  [medicalPrograms]="medicalPrograms()"
  [editMode]="isEditMode()"
  [existingTherapyCard]="existingCard()"
  (submitForm)="saveTherapyDiagnosis($event)"
></app-add-therapy-diagnosis-form>


} @if (viewMode() === 'history') {
<!-- <app-previous-therapy-card-diagnosis
  [items]="pevDiagnosis"
  (viewDetails)="onViewHistoryCard($event)"
></app-previous-therapy-card-diagnosis> -->
} }
