<div class="backdrop" (click)="onClose()"></div>
<div class="box dialog">
  @if (isLoading()) {
  <div class="flex-center">
    <span class="loader"></span>
  </div>
  <p class="flex-center">جاري تحميل بيانات المريض...</p>

  } @else {

  <div class="space-between sticky">
    <h2 class="title-lg">بيانات المريض</h2>
    <img
      src="assets/icons/close-icon.svg"
      alt="إغلاق"
      class="close-icon"
      (click)="onClose()"
    />
  </div>

  <div>
    <p class="title-md">بيانات المريض</p>
    <span class="home-line"></span>
  </div>
  <app-patient-summary-card [patient]="patient"></app-patient-summary-card>
  <div class="flex-center">
    <button class="btn primary label-md" type="button" (click)="onClose()">
      إغلاق
    </button>
  </div>
  }
</div>
