:host {
  display: grid;
  grid-template-columns: 250px 1fr;
  /* let main grow with content instead of forcing an internal scroll */
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "aside header"
    "aside main";
  min-height: 100vh;
  overflow: visible !important;
}

aside {
  grid-area: aside;
}

header {
  grid-area: header;
  height: fit-content;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 0;
  overflow: visible !important;
}