<div>
  <p class="title-md">بيانات الإجازة</p>

  <span class="home-line"></span>
</div>

<form class="padding-LR-24 column gap-16">
  <div class="row flex-center">
    <label class="label-lg"> عدد الأيام </label>
    <input class="label-lg" type="text" placeholder="" />
  </div>

  <div class="row flex-center">
    <label class="label-lg"> تاريخ الإجازة : من </label>
    <input class="label-lg" type="number" placeholder="" />
    <label class="label-lg"> إلى </label>
    <input class="label-lg" type="number" placeholder="" />
  </div>

  <div class="row gap-32 flex-center">
    <button class="btn primary label-md">حفظ التعديلات</button>
  </div>
</form>
