/* box */
.box {
  background-color: var(--white-color);
  border-radius: 16px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
  padding: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* height: fit-content; */
  box-sizing: border-box;
}

.box {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--background-color);
}

.box::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}

.box::-webkit-scrollbar-track {
  background: var(--background-color);
  border-radius: 16px;
}

.box::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 16px;
  border: 2px solid var(--background-color);
  opacity: 0.3;
  transition: background-color 0.3s, opacity 0.3s;
}

.box::-webkit-scrollbar-thumb:hover,
.box::-webkit-scrollbar-thumb:active {
  background-color: var(--primary-color-hover);
  opacity: 1;
}

.box::-webkit-scrollbar-corner {
  background: var(--background-color);
}

/* عند مرور الماوس على .box سكروول بار يصبح أوضح */
.box:hover::-webkit-scrollbar-thumb {
  opacity: 0.7;
}

.center-content {
  align-self: center;
  text-align: center;
}

.sticky {
  position: sticky;
  top: 0;
  background-color: var(--white-color);
  z-index: 1;
}

/* search box */

.search-box {
  position: relative;
  flex: 1;
  margin: auto 0;
}

.search-box input {
  width: 100%;
  padding-right: 40px;
  box-sizing: border-box;
}

.search-box .search-icon {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}


.loader {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        position: relative;
        animation: rotate 1s linear infinite
      }
      .loader::before , .loader::after {
        content: "";
        box-sizing: border-box;
        position: absolute;
        inset: 0px;
        border-radius: 50%;
        border: 5px solid #FFF;
        animation: prixClipFix 2s linear infinite ;
      }
      .loader::after{
        inset: 8px;
        transform: rotate3d(90, 90, 0, 180deg );
        border-color: #003366;
      }

      @keyframes rotate {
        0%   {transform: rotate(0deg)}
        100%   {transform: rotate(360deg)}
      }

      @keyframes prixClipFix {
          0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
          50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
          75%, 100%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
      }