.btn {
  padding: 4px 40px;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, border-color 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-size: 1rem;
  width: fit-content;
  color: var(--primary-color);
}

.btn.big-btn {
  padding: 12px 48px;
}

.btn.small-btn {
  padding: 0 8px;
  font-size: 0.875rem;
}

.btn.primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.btn.primary:hover {
  background-color: var(--primary-color-hover);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.btn.secondary {
  background-color: var(--white-color);
  color: var(--primary-color);
  border: 2px solid var(--primary-color, #003366);
}

.btn.secondary:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
  border-color: var(--primary-color-hover);
}

.btn.danger {
  background-color: var(--red-color);
  color: var(--white-color);
}

.btn.danger:hover {
  background-color: #c0392b;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.btn.icon {
  width: 24px;
  height: 24px;
  border-radius: 8px;
  padding: 0;
}

.btn.icon img {
  height: 16px;
  width: 16px;
  vertical-align: middle;
}

.btn:disabled,
.btn.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn:disabled:hover,
.btn.disabled:hover {
  background-color: --gray-color !important;
  color: --primary-color-50 !important;
}

/* .max-width-324 .btn {
  position: absolute;
  bottom: 16px;
} */

.cursor-pointer,
.close-icon {
  cursor: pointer;
}

.btn.blue {
  background-color: var(--card-active-color);
  color: var(--primary-color);
}

.btn.blue:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.btn.green {
  background-color: var(--card-green);
  color: var(--primary-color);
}

.btn.green:hover {
  background-color: var(--green-color);
  color: var(--white-color);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.btn.red {
  background-color: var(--card-red);
  color: var(--primary-color);
}

.btn.red:hover {
  background-color: var(--red-color);
  color: var(--white-color);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}