.card {
  padding: 8px 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  background-color: var(--card-color);
  gap: 4px;
}

.green-card {
  background-color: var(--card-green);
}

.yellow-card {
  background-color: var(--card-yellow);
}

.red-card {
  background-color: var(--card-red);
}

.card:active {
  border: 2px var(--primary-color) solid;
}

.blue-card {
  background-color: var(--primary-color);
  justify-content: space-between;
  width: 240px;
  height: 180px;
}

.blue-card .title-sm {
  color: var(--white-color-50);
}

.blue-card .display-lg,
.blue-card .headline-sm {
  color: var(--white-color);
  vertical-align: middle;
}