table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 16px;
  /* تبقى كما طلبت */
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  background-color: var(--white-color);
}

thead {
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
  z-index: 2;
  border-radius: 16px 16px 0 0;
}

th,
td {
  padding: 4px 8px;
  border-right: 1px solid var(--gray-color);
  border-bottom: 1px solid var(--gray-color);
}

th {
  text-align: start;
  padding: 8px 16px;
  white-space: nowrap;
}

th.th-expand {
  width: 90%;
}


td:last-child {
  border-bottom: none;
}

td:first-child,
th:first-child {
  border-right: none;
}

table tbody tr {
  border-bottom: 1px solid var(--gray-color);
  position: relative;
}

th.buttons {
  width: 1%;
  white-space: nowrap;
  text-align: center;
  border-bottom: none;
}