<div class="main-content-wrapper">
  <div class="scrollable-area column gap-16">
    @if (loadingTherapistData() && !therapistHeader()) {
    <div class="flex-center">
      <span class="loader"></span>
      <p>...جاري تحميل بيانات الطبيب</p>
    </div>
    } @else if (therapistHeader()) {
    <app-doctor-header-info [doctorName]="therapistHeader()?.doctorName" [sectionName]="therapistHeader()?.sectionName"
      [roomName]="therapistHeader()?.roomName" [itemCount]="doctorFacade.therapistSessions().length"
      itemCountLabel="عدد حالات اليوم"></app-doctor-header-info>
    <div>
      <div class="search-box">
        <img src="assets/icons/search-icon.svg" class="search-icon" alt="search" />
        <input type="text" placeholder="بحث: اسم المريض أو الرقم" #searchInput (input)="onSearch(searchInput.value)" />
      </div>
    </div>


    <!-- class="flex-parent" -->
    <app-therapist-sessions-card [sessions]="doctorFacade.therapistSessions()" [loading]="loadingTherapistData()"
      (sessionClicked)="onSessionCardClick($event)"></app-therapist-sessions-card>
    <!-- </div> -->
    } @else {
    <p>لم يتم العثور على بيانات الطبيب.</p>
    }
  </div>
</div>