    

      <table>
        <thead>
          <tr>
            <th class="label-lg">الإجازة</th>
            <th class="label-lg">المدة</th>
            <th class="label-lg">تاريخ البداية</th>
            <th class="label-lg">تاريخ النهاية</th>
            <th class="label-lg">تبدأ بعد</th>
            <th class="buttons"></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="body-md">ثورة 26 سبتمبر</td>
            <td class="body-md">يوم واحد</td>
            <td class="body-md">2025-09-26</td>
            <td class="body-md">2025-09-26</td>
            <td class="body-md">من الآن: 8 أشهر (مثال)</td>
            <td class="row gap-16 body-md">
              <button class="btn primary icon">
                <img src="assets/icons/pencil-icon.svg" alt="تعديل" />
              </button>
              <button class="btn danger icon">
                <img src="assets/icons/trash-icon.svg" alt="حذف" />
              </button>
            </td>
          </tr>

          <tr>
            <td class="body-md">عيد الأضحى</td>
            <td class="body-md">4 أيام</td>
            <td class="body-md">2025-06-06</td>
            <td class="body-md">2025-06-09</td>
            <td class="body-md">من الآن: 4 أشهر (مثال)</td>
            <td class="row gap-16 body-md">
              <button class="btn primary icon">
                <img src="../../assets/icons/pencil-icon.svg" alt="تعديل" />
              </button>
              <button class="btn danger icon">
                <img src="../../assets/icons/trash-icon.svg" alt="حذف" />
              </button>
            </td>
          </tr>
             <tr>
            <td class="body-md">ثورة 26 سبتمبر</td>
            <td class="body-md">يوم واحد</td>
            <td class="body-md">2025-09-26</td>
            <td class="body-md">2025-09-26</td>
            <td class="body-md">من الآن: 8 أشهر (مثال)</td>
            <td class="row gap-16 body-md">
              <button class="btn primary icon">
                <img src="assets/icons/pencil-icon.svg" alt="تعديل" />
              </button>
              <button class="btn danger icon">
                <img src="assets/icons/trash-icon.svg" alt="حذف" />
              </button>
            </td>
          </tr>

          <tr>
            <td class="body-md">عيد الأضحى</td>
            <td class="body-md">4 أيام</td>
            <td class="body-md">2025-06-06</td>
            <td class="body-md">2025-06-09</td>
            <td class="body-md">من الآن: 4 أشهر (مثال)</td>
            <td class="row gap-16 body-md">
              <button class="btn primary icon">
                <img src="../../assets/icons/pencil-icon.svg" alt="تعديل" />
              </button>
              <button class="btn danger icon">
                <img src="../../assets/icons/trash-icon.svg" alt="حذف" />
              </button>
            </td>
          </tr>
             <tr>
            <td class="body-md">ثورة 26 سبتمبر</td>
            <td class="body-md">يوم واحد</td>
            <td class="body-md">2025-09-26</td>
            <td class="body-md">2025-09-26</td>
            <td class="body-md">من الآن: 8 أشهر (مثال)</td>
            <td class="row gap-16 body-md">
              <button class="btn primary icon">
                <img src="assets/icons/pencil-icon.svg" alt="تعديل" />
              </button>
              <button class="btn danger icon">
                <img src="assets/icons/trash-icon.svg" alt="حذف" />
              </button>
            </td>
          </tr>

          <tr>
            <td class="body-md">عيد الأضحى</td>
            <td class="body-md">4 أيام</td>
            <td class="body-md">2025-06-06</td>
            <td class="body-md">2025-06-09</td>
            <td class="body-md">من الآن: 4 أشهر (مثال)</td>
            <td class="row gap-16 body-md">
              <button class="btn primary icon">
                <img src="../../assets/icons/pencil-icon.svg" alt="تعديل" />
              </button>
              <button class="btn danger icon">
                <img src="../../assets/icons/trash-icon.svg" alt="حذف" />
              </button>
            </td>
          </tr>
             <tr>
            <td class="body-md">ثورة 26 سبتمبر</td>
            <td class="body-md">يوم واحد</td>
            <td class="body-md">2025-09-26</td>
            <td class="body-md">2025-09-26</td>
            <td class="body-md">من الآن: 8 أشهر (مثال)</td>
            <td class="row gap-16 body-md">
              <button class="btn primary icon">
                <img src="assets/icons/pencil-icon.svg" alt="تعديل" />
              </button>
              <button class="btn danger icon">
                <img src="assets/icons/trash-icon.svg" alt="حذف" />
              </button>
            </td>
          </tr>

          <tr>
            <td class="body-md">عيد الأضحى</td>
            <td class="body-md">4 أيام</td>
            <td class="body-md">2025-06-06</td>
            <td class="body-md">2025-06-09</td>
            <td class="body-md">من الآن: 4 أشهر (مثال)</td>
            <td class="row gap-16 body-md">
              <button class="btn primary icon">
                <img src="../../assets/icons/pencil-icon.svg" alt="تعديل" />
              </button>
              <button class="btn danger icon">
                <img src="../../assets/icons/trash-icon.svg" alt="حذف" />
              </button>
            </td>
          </tr>
             <tr>
            <td class="body-md">ثورة 26 سبتمبر</td>
            <td class="body-md">يوم واحد</td>
            <td class="body-md">2025-09-26</td>
            <td class="body-md">2025-09-26</td>
            <td class="body-md">من الآن: 8 أشهر (مثال)</td>
            <td class="row gap-16 body-md">
              <button class="btn primary icon">
                <img src="assets/icons/pencil-icon.svg" alt="تعديل" />
              </button>
              <button class="btn danger icon">
                <img src="assets/icons/trash-icon.svg" alt="حذف" />
              </button>
            </td>
          </tr>

          <tr>
            <td class="body-md">عيد الأضحى</td>
            <td class="body-md">4 أيام</td>
            <td class="body-md">2025-06-06</td>
            <td class="body-md">2025-06-09</td>
            <td class="body-md">من الآن: 4 أشهر (مثال)</td>
            <td class="row gap-16 body-md">
              <button class="btn primary icon">
                <img src="../../assets/icons/pencil-icon.svg" alt="تعديل" />
              </button>
              <button class="btn danger icon">
                <img src="../../assets/icons/trash-icon.svg" alt="حذف" />
              </button>
            </td>
          </tr>
             <tr>
            <td class="body-md">ثورة 26 سبتمبر</td>
            <td class="body-md">يوم واحد</td>
            <td class="body-md">2025-09-26</td>
            <td class="body-md">2025-09-26</td>
            <td class="body-md">من الآن: 8 أشهر (مثال)</td>
            <td class="row gap-16 body-md">
              <button class="btn primary icon">
                <img src="assets/icons/pencil-icon.svg" alt="تعديل" />
              </button>
              <button class="btn danger icon">
                <img src="assets/icons/trash-icon.svg" alt="حذف" />
              </button>
            </td>
          </tr>

          <tr>
            <td class="body-md">عيد الأضحى</td>
            <td class="body-md">4 أيام</td>
            <td class="body-md">2025-06-06</td>
            <td class="body-md">2025-06-09</td>
            <td class="body-md">من الآن: 4 أشهر (مثال)</td>
            <td class="row gap-16 body-md">
              <button class="btn primary icon">
                <img src="../../assets/icons/pencil-icon.svg" alt="تعديل" />
              </button>
              <button class="btn danger icon">
                <img src="../../assets/icons/trash-icon.svg" alt="حذف" />
              </button>
            </td>
          </tr>
             <tr>
            <td class="body-md">ثورة 26 سبتمبر</td>
            <td class="body-md">يوم واحد</td>
            <td class="body-md">2025-09-26</td>
            <td class="body-md">2025-09-26</td>
            <td class="body-md">من الآن: 8 أشهر (مثال)</td>
            <td class="row gap-16 body-md">
              <button class="btn primary icon">
                <img src="assets/icons/pencil-icon.svg" alt="تعديل" />
              </button>
              <button class="btn danger icon">
                <img src="assets/icons/trash-icon.svg" alt="حذف" />
              </button>
            </td>
          </tr>

          <tr>
            <td class="body-md">عيد الأضحى</td>
            <td class="body-md">4 أيام</td>
            <td class="body-md">2025-06-06</td>
            <td class="body-md">2025-06-09</td>
            <td class="body-md">من الآن: 4 أشهر (مثال)</td>
            <td class="row gap-16 body-md">
              <button class="btn primary icon">
                <img src="../../assets/icons/pencil-icon.svg" alt="تعديل" />
              </button>
              <button class="btn danger icon">
                <img src="../../assets/icons/trash-icon.svg" alt="حذف" />
              </button>
            </td>
          </tr>
             <tr>
            <td class="body-md">ثورة 26 سبتمبر</td>
            <td class="body-md">يوم واحد</td>
            <td class="body-md">2025-09-26</td>
            <td class="body-md">2025-09-26</td>
            <td class="body-md">من الآن: 8 أشهر (مثال)</td>
            <td class="row gap-16 body-md">
              <button class="btn primary icon">
                <img src="assets/icons/pencil-icon.svg" alt="تعديل" />
              </button>
              <button class="btn danger icon">
                <img src="assets/icons/trash-icon.svg" alt="حذف" />
              </button>
            </td>
          </tr>

          <tr>
            <td class="body-md">عيد الأضحى</td>
            <td class="body-md">4 أيام</td>
            <td class="body-md">2025-06-06</td>
            <td class="body-md">2025-06-09</td>
            <td class="body-md">من الآن: 4 أشهر (مثال)</td>
            <td class="row gap-16 body-md">
              <button class="btn primary icon">
                <img src="../../assets/icons/pencil-icon.svg" alt="تعديل" />
              </button>
              <button class="btn danger icon">
                <img src="../../assets/icons/trash-icon.svg" alt="حذف" />
              </button>
            </td>
          </tr>
             <tr>
            <td class="body-md">ثورة 26 سبتمبر</td>
            <td class="body-md">يوم واحد</td>
            <td class="body-md">2025-09-26</td>
            <td class="body-md">2025-09-26</td>
            <td class="body-md">من الآن: 8 أشهر (مثال)</td>
            <td class="row gap-16 body-md">
              <button class="btn primary icon">
                <img src="assets/icons/pencil-icon.svg" alt="تعديل" />
              </button>
              <button class="btn danger icon">
                <img src="assets/icons/trash-icon.svg" alt="حذف" />
              </button>
            </td>
          </tr>

          <tr>
            <td class="body-md">عيد الأضحى</td>
            <td class="body-md">4 أيام</td>
            <td class="body-md">2025-06-06</td>
            <td class="body-md">2025-06-09</td>
            <td class="body-md">من الآن: 4 أشهر (مثال)</td>
            <td class="row gap-16 body-md">
              <button class="btn primary icon">
                <img src="../../assets/icons/pencil-icon.svg" alt="تعديل" />
              </button>
              <button class="btn danger icon">
                <img src="../../assets/icons/trash-icon.svg" alt="حذف" />
              </button>
            </td>
          </tr>
             <tr>
            <td class="body-md">ثورة 26 سبتمبر</td>
            <td class="body-md">يوم واحد</td>
            <td class="body-md">2025-09-26</td>
            <td class="body-md">2025-09-26</td>
            <td class="body-md">من الآن: 8 أشهر (مثال)</td>
            <td class="row gap-16 body-md">
              <button class="btn primary icon">
                <img src="assets/icons/pencil-icon.svg" alt="تعديل" />
              </button>
              <button class="btn danger icon">
                <img src="assets/icons/trash-icon.svg" alt="حذف" />
              </button>
            </td>
          </tr>

          <tr>
            <td class="body-md">عيد الأضحى</td>
            <td class="body-md">4 أيام</td>
            <td class="body-md">2025-06-06</td>
            <td class="body-md">2025-06-09</td>
            <td class="body-md">من الآن: 4 أشهر (مثال)</td>
            <td class="row gap-16 body-md">
              <button class="btn primary icon">
                <img src="../../assets/icons/pencil-icon.svg" alt="تعديل" />
              </button>
              <button class="btn danger icon">
                <img src="../../assets/icons/trash-icon.svg" alt="حذف" />
              </button>
            </td>
          </tr>
             <tr>
            <td class="body-md">ثورة 26 سبتمبر</td>
            <td class="body-md">يوم واحد</td>
            <td class="body-md">2025-09-26</td>
            <td class="body-md">2025-09-26</td>
            <td class="body-md">من الآن: 8 أشهر (مثال)</td>
            <td class="row gap-16 body-md">
              <button class="btn primary icon">
                <img src="assets/icons/pencil-icon.svg" alt="تعديل" />
              </button>
              <button class="btn danger icon">
                <img src="assets/icons/trash-icon.svg" alt="حذف" />
              </button>
            </td>
          </tr>

          <tr>
            <td class="body-md">عيد الأضحى</td>
            <td class="body-md">4 أيام</td>
            <td class="body-md">2025-06-06</td>
            <td class="body-md">2025-06-09</td>
            <td class="body-md">من الآن: 4 أشهر (مثال)</td>
            <td class="row gap-16 body-md">
              <button class="btn primary icon">
                <img src="../../assets/icons/pencil-icon.svg" alt="تعديل" />
              </button>
              <button class="btn danger icon">
                <img src="../../assets/icons/trash-icon.svg" alt="حذف" />
              </button>
            </td>
          </tr>
             <tr>
            <td class="body-md">ثورة 26 سبتمبر</td>
            <td class="body-md">يوم واحد</td>
            <td class="body-md">2025-09-26</td>
            <td class="body-md">2025-09-26</td>
            <td class="body-md">من الآن: 8 أشهر (مثال)</td>
            <td class="row gap-16 body-md">
              <button class="btn primary icon">
                <img src="assets/icons/pencil-icon.svg" alt="تعديل" />
              </button>
              <button class="btn danger icon">
                <img src="assets/icons/trash-icon.svg" alt="حذف" />
              </button>
            </td>
          </tr>

          <tr>
            <td class="body-md">عيد الأضحى</td>
            <td class="body-md">4 أيام</td>
            <td class="body-md">2025-06-06</td>
            <td class="body-md">2025-06-09</td>
            <td class="body-md">من الآن: 4 أشهر (مثال)</td>
            <td class="row gap-16 body-md">
              <button class="btn primary icon">
                <img src="../../assets/icons/pencil-icon.svg" alt="تعديل" />
              </button>
              <button class="btn danger icon">
                <img src="../../assets/icons/trash-icon.svg" alt="حذف" />
              </button>
            </td>
          </tr>
          
        </tbody>
      </table>



