<div class="ms-container" [class.ms-disabled]="disabled">
  <!-- منطقة التشيبس / العرض -->
  <div class="ms-display" (click)="toggleDropdown($event)">
    <div class="ms-chips-wrapper">
      <!-- لو في عناصر مختارة نظهرها كـ chips -->
      <ng-container *ngIf="selectedValues.length; else msPlaceholder">
        <div class="ms-chip" *ngFor="let option of options" [class.ms-chip-hidden]="!isSelected(option)">
          <span class="ms-chip-label">
            {{ option.label }}
          </span>

          <button type="button" class="ms-chip-remove" (click)="clearOne(option, $event)">
            ✕
          </button>
        </div>
      </ng-container>

      <!-- placeholder -->
      <ng-template #msPlaceholder>
        <span class="ms-placeholder">{{ placeholder }}</span>
      </ng-template>
    </div>

    <div class="ms-actions">
      <button type="button" class="ms-clear-all" *ngIf="selectedValues.length" (click)="clearAll($event)">
        مسح الكل
      </button>

      <span class="ms-arrow" [class.ms-arrow-open]="isOpen"></span>
    </div>
  </div>

  <!-- قائمة الخيارات (dropdown) -->
  <div class="ms-dropdown" *ngIf="isOpen">
    <div class="ms-option" *ngFor="let option of options" [class.ms-option-selected]="isSelected(option)"
      (click)="toggleOption(option)">
      <div class="ms-option-label">
        {{ option.label }}
      </div>

      <div class="ms-option-right" *ngIf="isSelected(option)">
        ✔
      </div>
    </div>

    <div class="ms-no-options" *ngIf="!options.length">
      لا توجد خيارات متاحة
    </div>
  </div>
</div>