input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border: 1px solid var(--card-red);
}

.error-message {
  color: var(--red-color);
  font-size: 0.8rem;
  margin-top: 2px;
  margin-right: 10px;
}