<div class="row gap-16">
  <h1
    class="title-lg cursor-pointer"
    (click)="switchToAdd()"
    [class.primary-color-50]="viewMode() !== 'add'"
  >
    إضافة جلسة
  </h1>
  <h1
    class="title-lg cursor-pointer primary-color-50"
    [class.primary-color-50]="viewMode() !== 'history'"
    (click)="switchToHistory()"
  >
    الجلسات السابقة
  </h1>
</div>
@if(viewMode()==='add'){

<div class="max-hight-712 column gap-16">
  <div class="column gap-16" id="patient-info-container">
    <!-- <app-header-patient-info
      [patient]="ticket()?.patient!"
    ></app-header-patient-info> -->
  </div>

  <div class="width-100">
    <p class="title-md">بيانات الجلسة الحالية</p>

    <span class="home-line"></span>
  </div>

  <table class="no-shadow">
    <thead>
      <tr>
        <th class="label-lg">البرنامج العلاجي</th>
        <th class="label-lg">القسم</th>
        <th class="label-lg">الغرفة</th>
        <th class="label-lg">الطبيب المعالج</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <input type="text" />
        </td>

        <td>
          <select class="label-lg">
            <option value="" disabled hidden>القسم</option>
          </select>
        </td>

        <td>
          <select class="label-lg">
            <option value="" disabled hidden>الغرفة</option>
          </select>
        </td>

        <td>
          <select class="label-lg">
            <option value="" disabled hidden>الطبيب المعالج</option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="column gap-16" id="diagnosis-info-container"></div>
</div>

} @if(viewMode()==='history'){

<div class="max-hight-712 column gap-16">
  <!--  الجسات السابقة -->
  <div class="width-100">
    <p class="title-md">الجسات السابقة</p>

    <span class="home-line"></span>
  </div>
  <table>
    <thead>
      <th class="title-sm">رقم الكرت</th>
      <th class="title-sm">التاريخ</th>
      <th class="title-sm">البرامج العلاجية</th>
      <th class="title-sm">الطبيب المعالج</th>
      <th class="buttons"></th>
    </thead>

    <tbody>
      <!-- 1 -->
      <tr>
        <td class="body-md" rowspan="2">784512369</td>
        <td class="body-md" rowspan="2">05-02-2023</td>
        <td class="body-md">تدليك (3)</td>
        <td class="body-md">د. أحمد يوسف</td>
        <td rowspan="2">
          <button class="btn primary icon">
            <img src="../../assets/icons/eye-icon.svg" alt="عرض التفاصيل" />
          </button>
        </td>
      </tr>
      <tr>
        <td class="body-md">كهرباء</td>
        <td class="body-md">د. محمد علي</td>
      </tr>

      <!-- 2 -->
      <tr>
        <td class="body-md" rowspan="2">995412887</td>
        <td class="body-md" rowspan="2">18-03-2023</td>
        <td class="body-md">تدليك (3)</td>
        <td class="body-md">د. خالد حسن</td>
        <td rowspan="2">
          <button class="btn primary icon">
            <img src="../../assets/icons/eye-icon.svg" alt="عرض التفاصيل" />
          </button>
        </td>
      </tr>
      <tr>
        <td class="body-md">كهرباء</td>
        <td class="body-md">د. سامر محمود</td>
      </tr>

      <!-- 3 -->
      <tr>
        <td class="body-md" rowspan="2">664187223</td>
        <td class="body-md" rowspan="2">09-04-2023</td>
        <td class="body-md">تدليك (2)</td>
        <td class="body-md">د. ليث عبد الله</td>
        <td rowspan="2">
          <button class="btn primary icon">
            <img src="../../assets/icons/eye-icon.svg" alt="عرض التفاصيل" />
          </button>
        </td>
      </tr>
      <tr>
        <td class="body-md">كهرباء</td>
        <td class="body-md">د. رامي فؤاد</td>
      </tr>

      <!-- 4 -->
      <tr>
        <td class="body-md" rowspan="2">552314789</td>
        <td class="body-md" rowspan="2">27-05-2023</td>
        <td class="body-md">تدليك (3)</td>
        <td class="body-md">د. عمر ناصر</td>
        <td rowspan="2">
          <button class="btn primary icon">
            <img src="../../assets/icons/eye-icon.svg" alt="عرض التفاصيل" />
          </button>
        </td>
      </tr>
      <tr>
        <td class="body-md">كهرباء</td>
        <td class="body-md">د. هيثم سعد</td>
      </tr>

      <!-- 5 -->
      <tr>
        <td class="body-md" rowspan="2">113478900</td>
        <td class="body-md" rowspan="2">03-06-2023</td>
        <td class="body-md">تدليك (4)</td>
        <td class="body-md">د. فادي إبراهيم</td>
        <td rowspan="2">
          <button class="btn primary icon">
            <img src="../../assets/icons/eye-icon.svg" alt="عرض التفاصيل" />
          </button>
        </td>
      </tr>
      <tr>
        <td class="body-md">كهرباء</td>
        <td class="body-md">د. أيمن شريف</td>
      </tr>

      <!-- 6 -->
      <tr>
        <td class="body-md" rowspan="2">784001456</td>
        <td class="body-md" rowspan="2">14-07-2023</td>
        <td class="body-md">تدليك (3)</td>
        <td class="body-md">د. حسام منصور</td>
        <td rowspan="2">
          <button class="btn primary icon">
            <img src="../../assets/icons/eye-icon.svg" alt="عرض التفاصيل" />
          </button>
        </td>
      </tr>
      <tr>
        <td class="body-md">كهرباء</td>
        <td class="body-md">د. نادر خليل</td>
      </tr>

      <!-- 7 -->
      <tr>
        <td class="body-md" rowspan="2">990054321</td>
        <td class="body-md" rowspan="2">22-07-2023</td>
        <td class="body-md">تدليك (1)</td>
        <td class="body-md">د. وائل جمال</td>
        <td rowspan="2">
          <button class="btn primary icon">
            <img src="../../assets/icons/eye-icon.svg" alt="عرض التفاصيل" />
          </button>
        </td>
      </tr>
      <tr>
        <td class="body-md">كهرباء</td>
        <td class="body-md">د. طارق سليم</td>
      </tr>

      <!-- 8 -->
      <tr>
        <td class="body-md" rowspan="2">440198765</td>
        <td class="body-md" rowspan="2">12-08-2023</td>
        <td class="body-md">تدليك (3)</td>
        <td class="body-md">د. مازن حمد</td>
        <td rowspan="2">
          <button class="btn primary icon">
            <img src="../../assets/icons/eye-icon.svg" alt="عرض التفاصيل" />
          </button>
        </td>
      </tr>
      <tr>
        <td class="body-md">كهرباء</td>
        <td class="body-md">د. بشار كنعان</td>
      </tr>
    </tbody>
  </table>
</div>

}
