<div class="backdrop" (click)="onClose()"></div>

<div class="box dialog">
  <div class="space-between  ">
    <h2 class="title-lg">تحديث بيانات الدخول</h2>
    <img src="assets/icons/close-icon.svg" alt="إغلاق" (click)="onClose()" class="close-icon cursor-pointer" />
  </div>

  <form class="padding-LR-24 column gap-16" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <p class="title-md">بيانات الدخول</p>
      <span class="home-line"></span>
    </div>

    <div class="row flex-center">
      <label class="label-lg">اسم المستخدم الجديد</label>
      <input class="label-lg" type="text" formControlName="newUsername" />

      <div class="error-message label-lg" *ngIf="hasBackendError('newUsername')">
        {{ getBackendError("newUsername") }}
      </div>
    </div>

    <div class="row flex-center">
      <label class="label-lg">كلمة المرور الحالية</label>
      <input class="label-lg" type="password" formControlName="oldPassword" />

      <div class="error-message label-lg" *ngIf="hasBackendError('oldPassword')">
        {{ getBackendError("oldPassword") }}
      </div>

      <div class="error-message label-lg" *ngIf="hasFrontendError('oldPassword')">
        كلمة المرور الحالية مطلوبة
      </div>
    </div>

    <div class="row flex-center">
      <label class="label-lg">كلمة المرور الجديدة</label>
      <input class="label-lg" type="password" formControlName="newPassword" />

      <div class="error-message label-lg" *ngIf="hasBackendError('newPassword')">
        {{ getBackendError("newPassword") }}
      </div>
    </div>

    <div class="error-message label-lg" *ngIf="formLevelError && submitted()">
      {{ formLevelError }}
    </div>

    <div class="row flex-center gap-16">
      <button class="btn primary" type="submit" [disabled]="form.invalid || isSubmitting() || submissionDone()">
        حفظ
      </button>
      <button class="btn secondary" type="button" (click)="onClose()">
        إلغاء
      </button>
    </div>
  </form>
</div>