  <div class="max-hight-712 column gap-16">
<div class="width-100">
  <h1 class="title-lg">الطبيب المعالج</h1>
</div>

<div class="space-between">
  <div>
    <p class="body-md">د / محمد سعيد الأهدل</p>
    <div class="row gap-16">
      <p class="body-sm flex-center primary-color-50">
        قسم :الكهرباء
      </p>
      <p class="body-sm flex-center primary-color-50">الغرفة رقم : 3</p>
      <button class="btn primary icon">
        <img src="assets/icons/setting.svg" alt="عرض التفاصيل" />
      </button>
    </div>
  </div>
  <div>
    <div class="row gap-16">
      <p class="body-md flex-center">عدد حالات اليوم</p>
      <div class="primary-color-background WH-40 flex-center border-radius-20">
        <h2 class="title-md white-color margin-auto">
          <!-- عدد الحالتي الذي عنده اليوم -->
          3
        </h2>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="search-box">
    <img src="assets/icons/search-icon.svg" class="search-icon" alt="search" />
    <input type="text" placeholder="بحث: اسم المريض أو الرقم" />
  </div>
</div>

<div class="flex-parent">

  <div class="flex-child">
    <app-general-waiting-patient-queue
    class="row gap-16"
      [patients]="patientsVM()"
    ></app-general-waiting-patient-queue>
  </div>

  
</div>
</div>
