
<div class="column gap-24 padding-LR-24">
  <h2 class="title-lg cursor-pointer"> حالة الموعد </h2>
  <div>
    <p class="title-md">بيانات الموعد</p>
    <span class="home-line"></span>
  </div>
  <div class="row flex-center">
    <label class="label-lg"> الاسم </label>
    <input class="label-lg" type="text" [value]="selectedAppointment()?.patientName" placeholder="" disabled readonly />
  </div>

  <div class="row flex-center">
    <label class="label-lg"> تاريخ الحضور </label>
    <input class="label-lg" type="date" [value]=" selectedAppointment()?.attendDate" placeholder="" disabled readonly />
  </div>

  <div class="row flex-center">
    <label class="label-lg"> الحالة </label>
    <input class="label-lg" type="text" [value]=" statusLabel(selectedAppointment()?.status)" placeholder="" disabled readonly />
  </div>

</div>