<div class="column gap-24 padding-LR-24">
  <h2 class="title-lg cursor-pointer"> حالة الموعد </h2>
  <div>
    <p class="title-md">بيانات الموعد</p>
    <span class="home-line"></span>
  </div>
  <div class="row flex-center">
    <label class="label-lg"> الاسم </label>
    <input class="label-lg" type="text" [value]="selectedAppointment()?.patientName" placeholder="" disabled readonly />
  </div>

  <div class="row flex-center">
    <label class="label-lg"> تاريخ الحضور </label>
    <input class="label-lg" type="date" [value]=" selectedAppointment()?.attendDate" placeholder="" disabled readonly />
  </div>

  <div class="row flex-center">
    <label class="label-lg"> الحالة </label>
    <input class="label-lg" type="text" [value]=" statusLabel(selectedAppointment()?.status)" placeholder="" disabled
      readonly />
  </div>

  <div class="row gap-16 flex-center">
    <!-- @if(selectedAppointment()?.status !== AppStatus.Absent){
    <button class="btn blue" (click)="changeStatus(AppStatus.Scheduled)">
      مجدول للمستقبل
    </button>
    } -->

    <button class="btn green" (click)="changeStatus(AppStatus.Today)">
      موعد اليوم
    </button>

    <button class=" btn red" (click)="changeStatus(AppStatus.Cancelled)">
      ملغي
    </button>

    <button class="btn" (click)="changeStatus(AppStatus.Absent)">
      متأخر
    </button>

  </div>

</div>