<div class="width-100">
  <p class="title-md">بيانات المستخدم</p>
  <span class="home-line"></span>
</div>

<div class="row flex-center">
  <label class="label-lg"> الاسم </label>
  <input class="label-lg" type="text" placeholder="" />
  <label class="label-lg"> الرقم الوظيفي </label>
  <input class="label-lg" type="text" placeholder="" />
</div>

<div class="row flex-center">
  <label class="label-lg"> اسم المستخدم </label>
  <input class="label-lg" type="text" placeholder="" />
  <button class="btn primary label-md margin-LR-24">
    إعادة تعيين كلمة المرور
  </button>
</div>

<div class="row flex-center">
  <label class="label-lg"> الحالة </label>
  <select class="label-lg">
    <option></option>
    <option>نشط</option>
    <option>غير نشط</option>
  </select>
</div>
