.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  align-items: flex-start;
}

.table-wrapper {
  overflow-y: auto;
  height: 300px;
  width: 100%;
}

.recent-operations {
  flex: 2;
}

.quick-access {
  flex: 1;
  width: 100%;
  justify-content: center;
}

/* .row {
  margin-top: 20px;
} */

.title-md {
  margin-bottom: 20px;
}

/* .flex-center {
  margin: 0;
  padding: 0;
} */

.home-line {
  margin-bottom: 20px;
}

td {
  padding: 4px 8px !important;
}