<main class="paddind-24">
  <h1 class="headline-md">لوحة التحكم الرئيسية</h1>
  <p class="title-sm primary-color-50">نظرة عامة على أنشطة المركز</p>

   <div class="cards">
    <div class="card blue-card">
      <h3 class="title-sm">إجمالي المرضـى</h3>

      <div>
        <span class="display-lg">52</span>
        <span class="headline-sm">مريض</span>
      </div>

      <div class="space-between">
        <span class="title-sm">26/5</span>
        <span class="title-sm">اليوم السبت</span>
      </div>
    </div>

    <div class="card blue-card">
      <h3 class="title-sm">العلاج الطبيعي</h3>

      <div>
        <span class="display-lg">32</span>
        <span class="headline-sm">حالة</span>
      </div>

      <div class="space-between">
        <span class="title-sm">26/5</span>
        <span class="title-sm">اليوم السبت</span>
      </div>
    </div>

    <div class="card blue-card">
      <h3 class="title-sm">الأطراف الصناعية</h3>

      <div>
        <span class="display-lg">20</span>
        <span class="headline-sm">حالة</span>
      </div>

      <div class="space-between">
        <span class="title-sm">26/5</span>
        <span class="title-sm">اليوم السبت</span>
      </div>
    </div>

    <div class="card blue-card">
      <h3 class="title-sm">الإيرادات</h3>

      <div>
        <span class="display-lg">1.8</span>
        <span class="headline-sm">مليون</span>
      </div>

      <div class="space-between">
        <span class="title-sm">26/5</span>
        <span class="title-sm">اليوم السبت</span>
      </div>
    </div>
  </div> 



  <span class="home-line"></span>

  <div class="row">
    <div class="recent-operations">
      <h3 class="title-sm">العمليات الأخيرة</h3>
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th class="title-sm">اسم المريض</th>
              <th class="buttons"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <p class="body-md">محمد علي صالح الشيباني</p>
                <p class="body-sm primary-color-50">تشخيص جديد</p>
              </td>
              <td class="row gap-16">
                <button class="btn primary icon">
                  <img src="assets/icons/eye-icon.svg" alt="عرض" />
                </button>
                <button class="btn primary icon">
                  <img src="assets/icons/pencil-icon.svg" alt="تعديل" />
                </button>
                <button class="btn danger icon">
                  <img src="assets/icons/trash-icon.svg" alt="حذف" />
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <p class="body-md">غالب سعيد مسعد الرياشي</p>
                <p class="body-sm primary-color-50">إصدار كرت إصلاح فني</p>
              </td>
              <td class="row gap-16">
                <button class="btn primary icon">
                  <img src="assets/icons/eye-icon.svg" alt="عرض" />
                </button>
                <button class="btn primary icon">
                  <img src="assets/icons/pencil-icon.svg" alt="تعديل" />
                </button>
                <button class="btn danger icon">
                  <img src="assets/icons/trash-icon.svg" alt="حذف" />
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <p class="body-md">مسروور فرحان صالح النهمي</p>
                <p class="body-sm primary-color-50">بدل فاقد</p>
              </td>
              <td class="row gap-16">
                <button class="btn primary icon">
                  <img src="assets/icons/eye-icon.svg" alt="عرض" />
                </button>
                <button class="btn primary icon">
                  <img src="assets/icons/pencil-icon.svg" alt="تعديل" />
                </button>
                <button class="btn danger icon">
                  <img src="assets/icons/trash-icon.svg" alt="حذف" />
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <p class="body-md">عبدالغفور غالب شرف العزاني</p>
                <p class="body-sm primary-color-50">تجديد كرت علاج طبيعي</p>
              </td>
              <td class="row gap-16">
                <button class="btn primary icon">
                  <img src="assets/icons/eye-icon.svg" alt="عرض" />
                </button>
                <button class="btn primary icon">
                  <img src="assets/icons/pencil-icon.svg" alt="تعديل" />
                </button>
                <button class="btn danger icon">
                  <img src="assets/icons/trash-icon.svg" alt="حذف" />
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <p class="body-md">صالحة عبدالله محمد نعمان</p>
                <p class="body-sm primary-color-50">تجديد كرت علاج طبيعي</p>
              </td>
              <td class="row gap-16">
                <button class="btn primary icon">
                  <img src="assets/icons/eye-icon.svg" alt="عرض" />
                </button>
                <button class="btn primary icon">
                  <img src="assets/icons/pencil-icon.svg" alt="تعديل" />
                </button>
                <button class="btn danger icon">
                  <img src="assets/icons/trash-icon.svg" alt="حذف" />
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <p class="body-md">نجيب سمير محمد غالب البدّاوي</p>
                <p class="body-sm primary-color-50">إصدار كرت فني</p>
              </td>
              <td class="row gap-16">
                <button class="btn primary icon">
                  <img src="assets/icons/eye-icon.svg" alt="عرض" />
                </button>
                <button class="btn primary icon">
                  <img src="assets/icons/pencil-icon.svg" alt="تعديل" />
                </button>
                <button class="btn danger icon">
                  <img src="assets/icons/trash-icon.svg" alt="حذف" />
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="quick-access">
      <h3 class="title-sm">الوصول السـريع</h3>

      <div class="column">
        <button class="title-md btn secondary" (click)="goToUserPage()">  إدارة المستخدمين</button>
        <button class="title-md btn secondary">إضافة مريض جديد</button>
      </div>
    </div>
  </div>
</main>
