<div class="paddind-24">
  <h1 class="headline-md">لوحة التحكم الرئيسية</h1>
  <p class="title-sm primary-color-50">نظرة عامة على أنشطة المركز</p>

  <div class="cards">
    <div class="card blue-card">
      <h3 class="title-sm">إجمالي المرضـى</h3>

      <div>
        <span class="display-lg">52</span>
        <span class="headline-sm">مريض</span>
      </div>

      <div class="space-between">
        <span class="title-sm">26/5</span>
        <span class="title-sm">اليوم السبت</span>
      </div>
    </div>

    <div class="card blue-card">
      <h3 class="title-sm">العلاج الطبيعي</h3>

      <div>
        <span class="display-lg">32</span>
        <span class="headline-sm">حالة</span>
      </div>

      <div class="space-between">
        <span class="title-sm">26/5</span>
        <span class="title-sm">اليوم السبت</span>
      </div>
    </div>

    <div class="card blue-card">
      <h3 class="title-sm">الأطراف الصناعية</h3>

      <div>
        <span class="display-lg">20</span>
        <span class="headline-sm">حالة</span>
      </div>

      <div class="space-between">
        <span class="title-sm">26/5</span>
        <span class="title-sm">اليوم السبت</span>
      </div>
    </div>

    <div class="card blue-card">
      <h3 class="title-sm">الإيرادات</h3>

      <div>
        <span class="display-lg">1.8</span>
        <span class="headline-sm">مليون</span>
      </div>

      <div class="space-between">
        <span class="title-sm">26/5</span>
        <span class="title-sm">اليوم السبت</span>
      </div>
    </div>
  </div>



  <span class="home-line"></span>

  <div class="row gap-16">

    <div class="recent-operations">
      <h3 class="title-md">العمليات الأخيرة</h3>
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th class="title-sm">اسم المريض</th>
              <th class="th-expand title-sm"> العملية </th>
              <th class="buttons"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="body-md">محمد علي صالح الشيباني</td>
              <td class="body-md">تشخيص جديد</td>
              <td class="row gap-16">
                <button class="btn primary icon">
                  <img src="assets/icons/eye-icon.svg" alt="عرض" />
                </button>
                <button class="btn primary icon">
                  <img src="assets/icons/pencil-icon.svg" alt="تعديل" />
                </button>
                <button class="btn danger icon">
                  <img src="assets/icons/trash-icon.svg" alt="حذف" />
                </button>
              </td>
            </tr>
            <tr>
              <td class="body-md">غالب سعيد مسعد الرياشي</td>
              <td class="body-md">إصدار كرت إصلاح فني</td>
              <td class="row gap-16">
                <button class="btn primary icon">
                  <img src="assets/icons/eye-icon.svg" alt="عرض" />
                </button>
                <button class="btn primary icon">
                  <img src="assets/icons/pencil-icon.svg" alt="تعديل" />
                </button>
                <button class="btn danger icon">
                  <img src="assets/icons/trash-icon.svg" alt="حذف" />
                </button>
              </td>
            </tr>
            <tr>
              <td class="body-md">مسروور فرحان صالح النهمي</td>
              <td class="body-md">بدل فاقد</td>
              <td class="row gap-16">
                <button class="btn primary icon">
                  <img src="assets/icons/eye-icon.svg" alt="عرض" />
                </button>
                <button class="btn primary icon">
                  <img src="assets/icons/pencil-icon.svg" alt="تعديل" />
                </button>
                <button class="btn danger icon">
                  <img src="assets/icons/trash-icon.svg" alt="حذف" />
                </button>
              </td>
            </tr>
            <tr>
              <td class="body-md">عبدالغفور غالب شرف العزاني</td>
              <td class="body-md">تجديد كرت علاج طبيعي</td>
              <td class="row gap-16">
                <button class="btn primary icon">
                  <img src="assets/icons/eye-icon.svg" alt="عرض" />
                </button>
                <button class="btn primary icon">
                  <img src="assets/icons/pencil-icon.svg" alt="تعديل" />
                </button>
                <button class="btn danger icon">
                  <img src="assets/icons/trash-icon.svg" alt="حذف" />
                </button>
              </td>
            </tr>
            <tr>
              <td class="body-md">صالحة عبدالله محمد نعمان</td>
              <td class="body-md">تجديد كرت علاج طبيعي</td>
              <td class="row gap-16">
                <button class="btn primary icon">
                  <img src="assets/icons/eye-icon.svg" alt="عرض" />
                </button>
                <button class="btn primary icon">
                  <img src="assets/icons/pencil-icon.svg" alt="تعديل" />
                </button>
                <button class="btn danger icon">
                  <img src="assets/icons/trash-icon.svg" alt="حذف" />
                </button>
              </td>
            </tr>
            <tr>
              <td class="body-md">نجيب سمير محمد غالب البدّاوي</td>
              <td class="body-md">إصدار كرت فني</td>
              <td class="row gap-16">
                <button class="btn primary icon">
                  <img src="assets/icons/eye-icon.svg" alt="عرض" />
                </button>
                <button class="btn primary icon">
                  <img src="assets/icons/pencil-icon.svg" alt="تعديل" />
                </button>
                <button class="btn danger icon">
                  <img src="assets/icons/trash-icon.svg" alt="حذف" />
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="quick-access">
      <h3 class="title-md">الوصول السـريع</h3>
      <div class="main-content-wrapper">
        <div class="scrollable-area">

          <div class="flex-center">
            <button class="btn secondary" (click)="goToUserPage()">
              إدارة المستخدمين
            </button>
          </div>

          <div class="flex-center">
            <button class="btn secondary">إضافة مريض جديد</button>
          </div>

          <div class="flex-center">
            <button class="btn secondary">إضافة تشخيص جديد</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>