@if (patients()) {

<table>
  <thead>
    <tr>
      <th class="title-sm">رقم المريض الطبي</th>
      <th class="title-sm">رقم الهاتف</th>
      <th class="th-expand title-sm">اسم المريض</th>
      <th class="buttons"></th>
    </tr>
  </thead>



  <tbody>
    <!-- ⭐ SHOW SKELETON ROWS WHILE LOADING -->
    @if (pageLoader.isLoading()) { @for (i of skeletonRows; track i) {
    <tr>
      <td><app-skeleton width="70%" height="16px"></app-skeleton></td>
      <td><app-skeleton width="70%" height="16px"></app-skeleton></td>
      <td><app-skeleton width="90%" height="16px"></app-skeleton></td>
      <td class="row gap-16">
        <app-skeleton width="40px" height="16px"></app-skeleton>
        <app-skeleton width="40px" height="16px"></app-skeleton>
        <app-skeleton width="40px" height="16px"></app-skeleton>
      </td>
    </tr>
    } }

    <!-- ⭐ SHOW REAL DATA WHEN NOT LOADING -->
    @else { @if (patients().length > 0) { @for (patient of patients(); track
    patient) {
    <!--   -->
    <tr class="hover-row" (click)="OnShowPatient(patient.patientId)">
      <td class="body-md">{{ patient.autoRegistrationNumber }}</td>
      <td class="body-md">{{ patient.phone }}</td>
      <td class="body-md">{{ patient.fullname }}</td>
      <td class="row gap-16">
        <button class="btn primary small-btn" (click)="OnCreateTicket(patient)" stopPropagation
          *appHasPermission="permession.TICKETS.ADD">
          <p class="label-sm">اصدار تذكرة</p>
        </button>

        <!-- *appHasPermission="permession.PATIENTS.UPDATE" -->
        <button class="btn primary icon" (click)="OnEditPatient(patient)" stopPropagation
          >
          <img src="assets/icons/pencil-icon.svg" alt="تعديل" />
        </button>

        <button class="btn danger icon" (click)="onDeleteClick(patient)" stopPropagation
          *appHasPermission="permession.PATIENTS.DELETE">
          <img src="assets/icons/trash-icon.svg" alt="حذف" />
        </button>
      </td>
    </tr>
    } } }
  </tbody>
</table>
}