@if (isLoading()) {
  <div class="flex-center">
    <span class="loader"></span>
  </div>
  <p class="flex-center">جاري تحميل بيانات البطاقة...</p>
} @else {

  @if (!canRenderForm()) {
    <p class="error">يجب اختيار مريض أولاً</p>
  } @else {

    @if (patientSummary()) {
      <app-patient-summary-header
        [patient]="patientSummary()!"
      />
    }

    <app-disabled-card-form
      [patientId]="patientId()!"
      [mode]="mode()"
      [card]="card()"
      [saving]="saving()"
      (create)="onCreate($event)"
      (update)="onUpdate($event)"
      (delete)="onDelete($event)"
    />
  }
}
