
<h2 class="title-lg">معلومات البطاقة</h2>

<form class="padding-LR-24 column gap-16">
  <div class="width-100">
    <p class="title-md">بيانات البطاقة</p>

    <span class="home-line"></span>
  </div>

  <div class="row flex-center">
    <label class="label-lg"> رقم البطاقة </label>
    <input class="label-lg" type="text" placeholder="" />
  </div>

  <div class="row flex-center">
    <label class="label-lg"> تاريخ الإصدار </label>
    <input class="label-lg" type="date" placeholder="" />
    <label class="label-lg"> تاريخ الإنتهاء </label>
    <input class="label-lg" type="date" placeholder="" />
  </div>

  <div class="row gap-16 flex-center">
    <button class="btn secondary">تعديل</button>
    <button class="btn danger">حذف</button>
  </div>
</form>
