input,
select {
  height: 40px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 16px;
  outline: none;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
  color: var(--primary-color);
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

input:focus,
select:focus {
  border-color: var(--primary-color-50);
  border-width: 2px;
}

label {
  min-width: 120px;
}

select {
  appearance: none;
  background-image: url('../icons/dropdown-icon.svg');
  background-repeat: no-repeat;
  background-position: left 8px center;
  background-size: 20px;
}

input[type="date"] {
  background-image: url('../icons/calendar-icon.svg');
  background-repeat: no-repeat;
  background-position: left 12px center;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
}