 table {
   width: 100%;
   border-collapse: collapse;
   border-radius: 16px;
   overflow: hidden;
   box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
   background-color: var(--white-color);
 }


 thead {
   background-color: var(--background-color);
   box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
 }

 th,
 td {
   padding: 16px;
 }

 table tbody tr {
   border-bottom: 1px solid var(--gray-color);
   position: relative;
 }

 table tbody tr::after {
   content: '';
   display: block;
   height: 1px;
   background-color: var(--gray-color);
   border-radius: 2px;
   filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.3));
   margin: 12px 0;
 }