<div class="backdrop" (click)="onClose()"></div>

<div class="box dialog">
  <div class="space-between sticky">
    <h2 class="title-lg">
      {{ mode() ? "تعديل بيانات المريض" : "إضافة مريض جديد" }}
    </h2>
    <img
      src="assets/icons/close-icon.svg"
      alt="إغلاق"
      (click)="onClose()"
      class="close-icon cursor-pointer"
    />
  </div>

  <div>
    <p class="title-md">بيانات المريض</p>
    <span class="home-line"></span>
  </div>

  <form
    class="padding-LR-24 column gap-16"
    [formGroup]="form"
    (ngSubmit)="onSave()"
  >
    <!-- الاسم -->
    <div class="row flex-center">
      <label class="label-lg">الاسم</label>
      <input class="label-lg" type="text" formControlName="fullname" />

      <!-- Backend Validation -->
      <div class="error-message label-lg" *ngIf="hasBackendError('fullname')">
        {{ getBackendError("fullname") }}
      </div>

      <!-- Frontend Validation -->
      <div *ngIf="hasFrontendError('fullname')" class="error-message label-lg">
        الاسم مطلوب
      </div>
    </div>
    <!-- رقم الهاتف -->
    <div class="row flex-center">
      <label class="label-lg">رقم الهاتف</label>
      <input
        class="label-lg"
        type="text"
        (keypress)="allowOnlyNumbers($event)"
        formControlName="phone"
        (input)="onPhoneInput()"
        (blur)="form.controls['phone'].markAsTouched()"
      />

      <!-- When user must type text -->
      <div
        class="error-message label-lg"
        *ngIf="
          form.controls['phone'].touched &&
          form.controls['phone'].hasError('required')
        "
      >
        يجب إدخال رقم الهاتف بشكل صحيح ويبدا 77و78و73.
      </div>

      <!-- If text is too long -->
      <div
        class="error-message label-lg"
        *ngIf="
          form.controls['phone'].touched &&
          form.controls['phone'].hasError('maxlength')
        "
      >
        يجب ألا يزيد رقم الهاتف عن 9 أرقام.
      </div>

      <!-- If user types non-digits -->
      <div
        class="error-message label-lg"
        *ngIf="
          form.controls['phone'].touched &&
          form.controls['phone'].hasError('pattern')
        "
      >
        يجب إدخال أرقام فقط.
      </div>
    </div>

    <!-- الجنس + تاريخ الميلاد -->
    <div class="row flex-center">
      <label class="label-lg">الجنس</label>
      <select class="label-lg" formControlName="gender">
        <option [ngValue]="true">ذكر</option>
        <option [ngValue]="false">أنثى</option>
      </select>

      <label class="label-lg">تاريخ الميلاد</label>
      <input class="label-lg" type="date" formControlName="birthdate" />

      <div class="error-message label-lg" *ngIf="hasBackendError('birthdate')">
        {{ getBackendError("birthdate") }}
      </div>

      <div *ngIf="hasFrontendError('birthdate')" class="error-message label-lg">
        تاريخ الميلاد مطلوب
      </div>
    </div>

    <!-- العنوان -->
    <div class="row flex-center">
      <label class="label-lg">العنوان</label>
      <input class="label-lg" type="text" formControlName="address" />
      <!-- Backend Validation -->
      <div class="error-message label-lg" *ngIf="hasBackendError('address')">
        {{ getBackendError("address") }}
      </div>

      <div *ngIf="hasFrontendError('address')" class="error-message label-lg">
        العنوان مطلوب
      </div>
    </div>

    <!-- رقم الهوية -->
    <div class="row flex-center">
      <label class="label-lg">رقم الهوية</label>
      <input class="label-lg" type="text" formControlName="nationalNo" />

      <!-- Backend Validation -->
      <div class="error-message label-lg" *ngIf="hasBackendError('nationalNo')">
        {{ getBackendError("nationalNo") }}
      </div>

      <div
        *ngIf="hasFrontendError('nationalNo')"
        class="error-message label-lg"
      >
        رقم الهوية مطلوب
      </div>
    </div>

    <!-- زر الحفظ -->
    <div class="flex-center">
      <button class="btn primary label-md" type="submit">
        {{ mode() ? "حفظ التعديل" : "حفظ" }}
      </button>
    </div>
  </form>
</div>
