@import "./styles/colors.css";
@import "./styles/typography.css";
@import "./styles/utilities.css";
@import "./styles/inputs.css";
@import "./styles/boxes.css";
@import "./styles/buttons.css";
@import "./styles/home-line.css";
@import "./styles/table.css";
@import "./styles/cards.css";
@import "./styles/filters.css";
@import "./styles/checkbox.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
  direction: rtl;
}

body {
  background-color: var(--background-color);
  min-width: 880px;
}

/* backdrop */
.backdrop {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  pointer-events: painted;
  z-index: 2;
}

/* dialog */
.box.dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: calc(100% - 128px);
  max-height: 688px;
  min-height: 200px;
  max-width: 815px;
}