<div class="row gap-16">
  <div class="box max-width-324 gap-24  ">
    <!-- Header -->
    <div class="row space-between">
      <h2 class="title-md flex-center">قائمة الإنتظار</h2>

      <div class="primary-color-background WH-40 flex-center border-radius-20">
        <h2 class="title-md white-color margin-auto">
          {{ tickets().length }}
        </h2>
      </div>
    </div>

    <!-- Search box -->
    <div class="search-box">
      <img src="assets/icons/search-icon.svg" class="search-icon" alt="search" />
      <input type="text" placeholder="بحث: اسم المريض أو الرقم" #searchBox (input)="onSearch(searchBox.value)" />
    </div>

    <!-- Service Filters -->
    <div class="filters-container">
      <!-- ALL services in therapy -->
      <button class="filter-btn" [class.active]="activeService() === null" (click)="filterByService(null)">
        الكل
      </button>

      <!-- علاج طبيعي -->
      <button class="filter-btn" [class.active]="activeService() === ServiceType.Therapy"
        (click)="filterByService(ServiceType.Therapy)">
        علاج طبيعي
      </button>

      <!-- أعصاب -->
      <button class="filter-btn" [class.active]="activeService() === ServiceType.Nerves"
        (click)="filterByService(ServiceType.Nerves)">
        أعصاب
      </button>

      <!-- عظام -->
      <button class="filter-btn" [class.active]="activeService() === ServiceType.Orthopedics"
        (click)="filterByService(ServiceType.Orthopedics)">
        عظام
      </button>

      <!-- تجديد كروت -->
      <button class="filter-btn" [class.active]="activeService() === ServiceType.TherapyCardRenew"
        (click)="filterByService(ServiceType.TherapyCardRenew)">
        تجديد كروت
      </button>


    </div>

    <!-- Waiting list -->
    <app-waiting-patient-card class="max-hight-712 column gap-16" [tickets]="tickets()" (select)="select($event)"
      [loading]="loading()"></app-waiting-patient-card>

    <!-- Pagination Component -->
    <!-- <app-pagination [page]="pageRequest().page" [pageSize]="pageRequest().pageSize" [totalCount]="totalCount()"
      (pageChange)="ticketFacade.setPage($event)" (pageSizeChange)="ticketFacade.setPageSize($event)"></app-pagination> -->
  </div>

  <!-- Right section -->
  <div class="box  gap-16">
    @if (selectedTicket()) {
    <router-outlet></router-outlet>
    } @else {
    <app-workspace-welcome subtitle="مرحباً بك"></app-workspace-welcome>
    }
  </div>
</div>