<div class="padding-32 row gap-16 padding-24">
  <div class="box max-width-324 culumn gap-24 max-hight-800">
    <div class="row space-between">
      <h2 class="title-md flex-center">قائمة الإنتظار</h2>
      <div class="primary-color-background WH-40 flex-center border-radius-20">
        <h2 class="title-md white-color margin-auto">
          {{ tickets().length }}
        </h2>
      </div>
    </div>
    <div class="search-box">
      <img src="assets/icons/search-icon.svg" class="search-icon" alt="search" />
      <input type="text" placeholder="بحث: اسم المريض أو الرقم" #searchBox (input)="onSearch(searchBox.value)" />
    </div>

    <app-waiting-patient-card class="max-hight-712 column gap-16" [tickets]="tickets()"
      (select)="OnSelectPatientTicket($event)" [loading]="isloading()"></app-waiting-patient-card>
  </div>
  <!-- <div class="column gap-24"> -->

  <div class="box max-hight-800 gap-16">
    <router-outlet></router-outlet>
  </div>
  <!-- </div> -->
</div>